[2020-01-05 21:50] SliderCO-007 commented on #1064
I found the solution in #905. Thank you! Closing issue.

[2020-01-05 21:50] #1064 closed

[2020-01-06 14:28] christianlupus commented on #1031
I left a message on the [mailing list](https://groups.google.com/forum/#!topic/partkeepr-users/4Mxcn4eJFmE). Cross-referenced here only for completion.

[2020-01-07 23:43] robindegen commented on #818
@lhovo The comment also states that you have to contact api@octopart.com if you have questions. For example; if its under review for far too long; contact them. It won't work until it's no longer under review.

[2020-01-11 09:45] baradhili commented on #1051
just nitpicking, but maybe some of these types of tickets should be closed? 300_ issues is not good on a repo..

[2020-01-13 02:50] baradhili opened #1065 "upgrade symphony/monolog-bundle"
Just putting this up for future..
monolog-bundle in Partkeepr is quite old and a fix that troubles many was fixed back in 3.1.2 #905

so its probably time to try and do some upgrades to the framework...

[2020-01-13 10:41] christianlupus opened #1066 "Meta: Too many open issues"
As @baradhili mentioned in [this comment](https://github.com/partkeepr/PartKeepr/issues/1051#issuecomment-573300846) we have quite many open issues at the moment.

Although I confirm that this a unpleasant situation that puts (too) much pressure on the developer(s) and possible inteerested people, I think this is also a useful source of information what is non-functional and missing in PartKeepr.

[2020-01-13 12:28] baradhili commented on #1066
so basically we create a de-facto "backlog"...
@Drachenkaetzchen are you open to adding a couple of us to the project so we can bring some order to the issues?

[2020-01-13 13:03] christianlupus commented on #1066
Sort of. But, yes, this is the basic idea.

I would be willing to help here, if desired.

[2020-01-13 14:57] dromer commented on #1066
Hey guys, this is a very good idea and was discussed by us on IRC as well.

I recently got access to the github and I will have a look at adding some more people to help out with the organizational side to manage the issues and appreciate your offer to help with this.
(if due to time-constraints I forget don't be shy to give me a poke about it)

[2020-01-13 16:39] dromer commented on #1066
Ok @christianlupus I've added you as a Triage member to this repository.
@baradhili are you interested as well to help out with this?

Here is described the capabilities for this: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization

[2020-01-14 02:34] baradhili commented on #1066
@dromer  yes please

[2020-01-14 06:49] christianlupus commented on #1066
@dromer Thanks for the add.

A first suggestion is to add a label `needs-triage` and setting up a rule to put every new issue and PR into this label.
Reason: The reporter sees that a triage is needed/going to be done. Further we can sort (later) for such issues. Maybe we should consider putting every issue under this label in order to see what is done already and what needs attention.

[2020-01-14 07:05] christianlupus commented on #1055
This seems to be a duplicate from #1063 with less information. I will close this now. Please write a comment if this is independent (and clarify why), then I will reopen the issue.

[2020-01-14 07:05] #1055 closed

[2020-01-14 07:15] christianlupus commented on #1051
@HendriXML, I am sorry but I do not get your point here. Do you want PartKeepr to support your tool? Do you need a feature to make it run smoothly? Do you just want to promote your tool?

Please explain your intention. I will have to close this issue otherwise soon, sorry.

[2020-01-14 07:19] christianlupus commented on #1066
And additional: I suggest the following labels as well:

- `meta`: Used for issues not related to the code itself but the repo, the wiki, the programming standards and the like
- `help-requested`: Used to indicate that an issue is seeking for help during setup, usage, etc. This might be better pushed to a forum than kept as an issue here on github.

[2020-01-14 07:21] baradhili commented on #1066
Sounds good.. though I'd suggest we don't plonk everything under `needs-triage` because we'll simply end up where we are now :).. I'd also suggest `backlog` , `next-release` and `roadmap` once we get things under review

[2020-01-14 07:23] phil31 commented on #1055
hi,
no this is not the same as #1063
this thread is about the problem "Your database schema is not up-to-date! Please re-run setup immediately!". i had thie message since the begining of the new fresh install of 1.40. independatly than the import components from 1.09 !

the #1063 is about the import components from 1.09

[2020-01-14 07:24] christianlupus commented on #1050
I think a version check inside PartKeeper should warn the admin of the fact that the PHP version is incompatible with the doctrine dependency. This way theadmin has the chance to take steps and knows why things are going south.

[2020-01-14 07:30] christianlupus commented on #1045
This seems to be a quite personal setup you are referring to. Also, you did not provide the intention of your post here. I will close this issue for now. Please comment again to clarify, then I might reopen the issue.

[2020-01-14 07:30] #1045 closed

[2020-01-14 07:34] christianlupus commented on #1066
As I started to categorize a few issues now, I found it difficult to put labels on them unless these are defined clearly (at least for a part of them).

[2020-01-14 07:41] christianlupus commented on #1040
Mailing is not used in PartKeepr at the moment. So no mails are sent at all.

[2020-01-14 07:41] #1040 closed

[2020-01-14 07:48] christianlupus commented on #1025
Can you check if this issue is still existing under Mac? If an update in the meantime solved the problem, I'd close this issue.

[2020-01-14 07:56] christianlupus commented on #1021
I think this discussion was lengthy and the main issue is cleared out. See #1059. So, I will close this for now.

[2020-01-14 07:56] #1021 closed

[2020-01-14 08:17] christianlupus commented on #1020
This issue addresses two distinguished but related topics:

- The bug report that PHP 7.3 is causing trouble due to incompatible symphony framework
- The info that @adlerweb is thinking about symphony 4.

The afforetement is duplicated in #1065.
Regadring the latter topic, I ask you @adlerweb to provide up-to-date information: Are you still working on it? Would it not be better to share resources

[2020-01-14 08:17] #1020 closed

[2020-01-14 08:18] christianlupus commented on #1020
Duplicate of #1065

[2020-01-14 08:25] christianlupus commented on #1055
Duplicate of #1050

[2020-01-14 08:32] christianlupus commented on #1055
Yes, you are right, this is a different issue then but was reported anyways recently in #1050.

Regarding your questions:

This depends if your NAS is reachable from the internet or not. If it is publicly reachable, you should think twice about it. If it is only reachable locally and your LAN can be assumed *safe*, the security risk is comparably low. PartKeepr will not update itself at the moment

[2020-01-14 08:38] christianlupus commented on #1065
Duplicate of #1050

[2020-01-14 08:44] christianlupus commented on #1014
I suggest that we put your little tutorial into an wiki entry. Can you send me a markdown version of your tutorial? Then I can put it in the draft wiki. It is not well suited here in the issues.

[2020-01-14 08:53] christianlupus commented on #1013
You did not make clear, if your SQL server is running in another docker container or on the host machine.
General rule of thumb: If you start using docker then completely stick with it. Do not mix up.

If you are running mysql on the host machine, @mindsolve gave you one option. An alternative would be to map the socket to the PartKeepr container (at the appropriate location) and use `locahost` in

[2020-01-14 08:53] #1013 closed

[2020-01-14 09:25] baradhili commented on #1066
@christianlupus how do you want to coordinate the triage? I'm in UTC+8

[2020-01-14 09:27] baradhili commented on #1066
@christianlupus  Looks like we might need another tag "move-to-wiki"

[2020-01-14 09:30] baradhili commented on #260
Very old - need to check if migration from PartDB is still around, but suspect not

[2020-01-14 09:33] baradhili commented on #263
Though this is still valid.. so needs `backlog` tag

[2020-01-14 09:33] baradhili commented on #573
This is no longer an issue with 1.4.0

[2020-01-14 09:36] baradhili commented on #578
I will run a vulnerability scan against my 1.4.0 install soon

[2020-01-14 09:37] baradhili commented on #621
@Drachenkaetzchen @Addy771 is this now resolved?

[2020-01-14 09:37] christianlupus commented on #1066
@baradhili I am in UTC+1 (Berlin).
I was giving a few issues some labels and a milestone when applicable. However it gets time for me to get to work now. So I will pause for now.

Do you have any good suggestions about the coordination? One person in the morning one person in the evening to avoid collisions? What is your preferred time to work on it?

Yup, that seems to be the case.

[2020-01-14 09:38] baradhili commented on #636
@Drachenkaetzchen just wondering if this was done in 1.3?

[2020-01-14 09:41] baradhili commented on #1066
@christianlupus I'm working through old issues with `bug` tags at the moment.. I think I can put an hour in around 8 or 9am my time...I use the english version of the same site - I'm in Perth - we probably want to flag issues that are complex with some kinda tag so the other can have a look and give an opinion..

@dromer if we give you a list of new tags can you add them?

[2020-01-14 09:45] baradhili commented on #823
Needs checking that upgrades still have problems.. this is an old bug

[2020-01-14 09:46] baradhili commented on #825
Need to test that this occurs in 1.4.0

[2020-01-14 09:47] baradhili commented on #827
Could someone test to see if this is still valid in 1.4?

[2020-01-14 09:48] baradhili commented on #833
needs checking that this is reproducible or not in 1.4

[2020-01-14 09:49] baradhili commented on #842
Is this now fixed in 1.4?

[2020-01-14 10:29] dromer commented on #1066
Oh, is this something I need to do?

Let me know and I'll look at adding some more.

[2020-01-14 11:01] christianlupus commented on #1066
OK, this is completely up to you. Thank you for helping here. I am working on the unlabeled issues for now, so we are not colliding.

Yes, I think this is a good idea. How about `complex-triage`?

[2020-01-14 11:02] christianlupus commented on #1066
We can only attach labels and milestones to the issues. But we cannot add new labels to the list of valid ones. So, yes, we would ask you to add the relevant labels.

[2020-01-14 11:15] christianlupus commented on #1066
@baradhili So for not we have this list of new labels (please correct me):

- `meta`
- `help-requested`
- `move-to-wiki`
- `complex-triage`

About the timely labels (`backlog`, `roadmap`, `next-release`) I think this is better caught by milestones, don't you think? Also this must be coordinated with anyone providing code to the repo.

I will update this comment as soon as needs for new labels are

[2020-01-14 11:18] christianlupus commented on #827
I am pretty sure, I had this in the 1.4.0 branch seen. See the linked issue. I will try to get the latest docker version running then I can tell you more about it (unsure about the time required/available).

[2020-01-14 11:21] baradhili commented on #827
I have 1.4 up, but not with enough parts to test :)

[2020-01-14 11:24] baradhili commented on #1066
@dromer
Could we have the following labels setup?

- `meta`
- `help-requested`
- `move-to-wiki`
- `complex-triage`
- `security-issue`

Thanks

[2020-01-14 11:36] christianlupus commented on #1066
@baradhili I tried to organize the labels in a [MD file](https://github.com/christianlupus/Test-PK-Pages/wiki/Issue-Labels) a bit. I added you as a collaborator so you can edit the file.

Are you ok with the definitions as far as I wrote them?

[2020-01-14 11:45] baradhili commented on #1066
All good! <shock> documentation!

On Tue, 14 Jan 2020 at 19:36, Christian <notifications@github.com> wrote:

--
Bret Watson
Director
IT Interim Management Pty Ltd T/A TICM
Mob: +61 (0)41 33 03 840
Email:bret@IT-Interim.Management
"The contents of this e-mail transmission are intended solely for the named
recipient(s), may be confidential, and may be privileged or otherwise
protected from disclosur

[2020-01-14 12:10] dromer commented on #1066
```build system``` clearly has to do with the ci/cd (see my 2 PRs) so I would keep it.

I will add your list @baradhili and hopefully you guys can at least move forward.
For now I think it's ok to have 'too many' labels than to have 'too few'. We can always remove/ignore certain labels.

[2020-01-14 12:15] dromer commented on #1066
Ok too late, I went with the default colors for now :D

[2020-01-14 20:36] trial-n-error commented on #573
Hi,
I created the bug ticket initially and stumbled over notification on it just now. I actually tried it again and I did not got the problem with the latest software. Thank you for the great software, and sorry that I not saw the question on feedback back in 2017.

[2020-01-14 20:36] #573 closed

[2020-01-15 03:20] baradhili commented on #1063
I know default partkeepr build asks for mysql.. sometimes mariadb version response alone can confuse some setup scripts.. have you tried this with mysql instead of mariadb?

[2020-01-15 03:27] baradhili commented on #1066
@dromer Could we have a milestone for 1.5.0?

@christianlupus I'm going to use `1 - Ready` for things that appear/are claimed to be fixed, but need testing

[2020-01-15 03:32] baradhili commented on #495
overall the permissions asked for under setup are too broad, and they ask for broad, but then later narrow it down - this could be done better.. In part because the wiki tells you to make it all writable..

Normal practice would be for the entire dir to be owned by the httpd user, everything read only except for specific directories for uploading and these dirs must not have executable permissions

[2020-01-15 03:33] baradhili commented on #756
also bcmath is missing from setup checks

[2020-01-15 03:33] baradhili commented on #834
is this still occurring?

[2020-01-15 03:34] baradhili commented on #836
though I think this is very much an edge case

[2020-01-15 03:35] baradhili commented on #843
Does this still occur?

[2020-01-15 03:38] baradhili commented on #853
Summarising:
Importer doesn't enforce field input
importer cannot handle non-core alphabet chars?

@Schurick could you confirm if this is still an issue? We are cleaning up old issues

[2020-01-15 03:38] baradhili commented on #862
Vague?

[2020-01-15 03:39] baradhili commented on #858
Duplicate of #850 and #862

[2020-01-15 03:40] baradhili commented on #862
Duplicate of #850

[2020-01-15 03:41] baradhili commented on #872
may be fixed?

[2020-01-15 03:43] #260 closed

[2020-01-15 03:57] baradhili commented on #33
This is pretty much the main business case for an inventory system..

[2020-01-15 03:59] baradhili commented on #40
duplicate of #37

[2020-01-15 03:59] #40 closed

[2020-01-15 04:01] baradhili commented on #43
I'm thinking that this could close.. but leaving it as Nice to have

[2020-01-15 04:02] baradhili commented on #45
Probably should be resolved by crontab export and letting other system handle import/reconciliation

[2020-01-15 04:03] baradhili commented on #46
really hard to define a solution for this.. ok if you are looking for passives.. but what about ICs? manufacturers have wildly different rules about grouping similar devices..

[2020-01-15 04:06] baradhili commented on #1005
@HendriXML trying to cleanup the issues in Partkeepr.. your ticket here doesn't quite let me know what the direction of teh ticket was.. is this just FYI? or are you suggesting it could be added to code?

[2020-01-15 04:11] baradhili commented on #67
Covered in #54

[2020-01-15 04:11] #67 closed

[2020-01-15 04:16] baradhili commented on #1066
@dromer in retrospect.. I realised I can handle things that look like they need to be done "Soon" with `Must Have`
@christianlupus finished `Bug`.. now working on old issues with no milestone

[2020-01-15 10:19] christianlupus commented on #1063
The problem is that the MariaDB >= 10.3 is not supported by the currently used Symphony 2 framework. As a result, no correct database connection can be made. I am surprised that @phil31 could even start the import as I think he needs to finish the setup beforehand.

Definitively, we need more information, what he did and when it went south.

[2020-01-15 10:23] christianlupus commented on #842
Nope, the text `ONLY_FULL_GROUP_BY` is not in the current code base. If someone might want to do a small PR, you are welcome :)

[2020-01-15 10:27] christianlupus commented on #823
This might be related to #842

[2020-01-15 10:45] baradhili commented on #842
I think @turdusmerula  's answer resolves this

[2020-01-15 11:09] christianlupus commented on #842
@baradhili Don't you think this should be done in the setup script to ensure that the variable is set correctly?

[2020-01-15 11:11] baradhili commented on #842
@christianlupus point taken.. I was thinking this was something done by the user.. not default in mysql 5.7

[2020-01-15 12:28] HendriXML commented on #1005
@baradhili From a developers perspective: you could add it to a "redesign suggestion" category... But you could also flag it as "not going to happen", close it and make it disappear from the open issue list.

[2020-01-15 13:14] baradhili commented on #1005
thanks!

[2020-01-15 13:58] christianlupus commented on #1008
@vogelfreiheit Did you update to the latest Symphony 2 release or to a new major release (aka Symphony 3 or 4)?

[2020-01-15 14:04] christianlupus commented on #1000
@miningandhydraulics Does this solve your problem?

[2020-01-15 14:06] christianlupus commented on #996
@ThJohannsen Can you verify that it is no longer an issue?

[2020-01-15 14:07] christianlupus commented on #995
As this is finally answered, I close the issue.

[2020-01-15 14:07] #995 closed

[2020-01-15 14:10] christianlupus commented on #994
@worm6666 As far as I understand, there is a workaround but that is not nice as it affects the whole browser, right? Did you check with the latest version of Firefox+PartKeepr?

[2020-01-15 14:17] christianlupus commented on #980
Just for reference: The linked image shows this:

![PBFh10L](https://user-images.githubusercontent.com/8202922/72440947-11c03a80-37aa-11ea-9953-adb8e5642ee4.png)

[2020-01-15 14:19] christianlupus commented on #980
@vogelfreiheit @blakangel Can you verify if the issue is still present in the latest git version?

[2020-01-15 14:21] phil31 commented on #1063
Hello christian,

i'm Phil31 !!

which information you need ?
i would be happy to help on this great project, but i'm totaly newbie with Linux stuff, so please explain what you expect !

yes i totaly finish the setup, all green.
my issues are
- "database schema is not up-to-date" : i understand that it is an incompatibility between mariaDB and Doctrine
==> i can setup a new VM using mySQL if that

[2020-01-15 14:27] christianlupus commented on #974
@Rensu We are tidying up the issues. Could you provide a markdown description of what is needed to run PartKeepr behind a reverse proxy?
I tried to migrate the wiki to github and there is already [a page related to reverse proxying](https://github.com/christianlupus/Test-PK-Pages/wiki/KB00008_PartKeepr_behind_a_reverse_proxy) that might be related. Could you please compare your setup with the pres

[2020-01-15 14:47] christianlupus commented on #961
@thenetimp We are closing the open issues at the moment. What is the latest status? Did you get it working by now somehow?

[2020-01-15 14:49] christianlupus commented on #960
@HolgerHeckeroth @ely-az Can you verify this is still an issue on the current branch?

[2020-01-15 14:50] christianlupus commented on #959
No answer for more than a year, closing therefore.

[2020-01-15 14:50] #959 closed

[2020-01-15 14:53] baradhili commented on #980
@christianlupus this is no longer an issue for a fresh install from git I did it only a week ago

[2020-01-15 14:54] HolgerHeckeroth commented on #960
@christianlupus I stopped using Partkeepr around a year or so. So I'm not able to check if the issue still exists in the current branch.

[2020-01-15 14:57] baradhili commented on #994
@christianlupus am running a yoga2 pro, tested trackpad and touchscreen work fine with current firefox, suggest we close

[2020-01-15 14:59] christianlupus commented on #953
As far as I see, this is already [implemented in the code](https://github.com/partkeepr/PartKeepr/blob/e76fc839e9503f379d232a31ece70fa1b74cac36/app/PartKeeprRequirements.php#L126).

@gconus Can you verify this is the line you are referring to?

[2020-01-15 14:59] #953 closed

[2020-01-15 15:02] christianlupus commented on #951
@progman32 Can you check, if this is still an issue on a more recent PHP version?

[2020-01-15 15:12] christianlupus commented on #946
@mindsolve Did you succeed in writing you little helper script? If you are willing to share, we can add it to the wiki. Otherwise, I will close this issue for now. Feel free to answer nevertheless.

[2020-01-15 15:15] christianlupus commented on #945
Is this issue still valid? Please verify with the latest version.

[2020-01-15 15:18] christianlupus commented on #942
@ikcalB Is this still an open issue? I think it was fixed. Can you verify with the latest release?

[2020-01-15 15:28] mindsolve commented on #946
Hey @christianlupus , while I did indeed begin to write such a script some time ago, I did not finish it, and the code quality (of the bits I wrote) are way below "hackish".

I do indeed plan on writing a new script for that purpose, but that may take a while. I will be happy to then add it to the wiki.
As such, I am closing this issue now.

[2020-01-15 15:28] #946 closed

[2020-01-15 15:29] christianlupus commented on #937
In the meantime this seems to be solved. I tried it on the demo page and it works (except that the Digikey distributor must not be duplicated, but that another issue).

[2020-01-15 15:29] #937 closed

[2020-01-15 15:31] christianlupus commented on #936
@kinnans Can you check if the issue is still present in the latest version?

[2020-01-15 15:33] christianlupus commented on #933
@Athulpsidharthan Please be much more specific. What have you done? What error message is reported?
Additionally please use the latest commit/release. Is the problem still reproducible?

[2020-01-15 15:36] christianlupus commented on #932
@mitjakukovec I think, your question was answered by Drachenkaetzchen, right? I will therefore close the issue here.

[2020-01-15 15:36] #932 closed

[2020-01-15 15:39] christianlupus commented on #928
Duplicate of #927

[2020-01-15 15:40] christianlupus commented on #925
@BorjaLeon15 Is this issue still valid or did you get it sorted out otherwise?

[2020-01-15 15:43] christianlupus commented on #992
See also #924

[2020-01-15 15:45] christianlupus commented on #923
It is possible to remove a report by now. Closing.

[2020-01-15 15:45] #923 closed

[2020-01-15 15:49] christianlupus commented on #946
You are welcome. In case need arises, return back and ask your questions.

[2020-01-15 15:49] christianlupus commented on #994
OK, if anyone stumbles on it, we can link/reopen.

[2020-01-15 15:49] #994 closed

[2020-01-15 15:51] christianlupus commented on #1066
I remove the labels like *Will be closed soon!` and `Feedback Needed` as soon as an issue can be closes. Is this ok for our common workflow?

[2020-01-15 15:52] christianlupus commented on #980
OK, will close and reopen if need arises.

[2020-01-15 15:52] #980 closed

[2020-01-15 16:12] thenetimp commented on #961
I didn't get it working.  I abandoned what I was trying to do with it as it was too time-consuming to get it to work.  I'm probably not going to revisit it.

[2020-01-15 16:15] christianlupus commented on #1063
OK, no problem here.
First we need to understand what your steps were in detail. I have some idea from your statements. Please correct me if I was wrong:

- You had a PartKeepr (PK) version 0.1.9 successfully running
- You tried to install in a VM PK 1.4.0, here you used MariaDB 10.3.17 as storage.
- Upon login after the setup you get the *Database is not up-to-date* message.
- You then exported t

[2020-01-15 16:17] christianlupus commented on #961
Just out of curiosity: Did you try to use Apache (for testing purposes) once as a reverse proxy?

[2020-01-15 16:45] thenetimp commented on #961
That was two years ago, I barely remember what happened last week.  I couldn't say if I did or didn't.

[2020-01-15 16:46] phil31 commented on #1063
well actually :
i have a PC which run PK 0.1.9
i have a VM wich run PK 1.4.0 - DEBIAN10 / Apache 2.4.38 / mariaDB 10.3.17 (i dont know why this is this version and not the mentioned one in the wiki !?)

1/ on PK1.4.0 VM, i succesull follow the setup, all was green; but each time i logon, i get the message "Database is not up-to-date message"
i can manually add a component
i try differents tips fou

[2020-01-15 19:12] christianlupus commented on #961
As there is a solution with an apache reverse proxy, I will close this issue now. If nginx pops up once later, I hope we will find this thread again. I will try to link in the wiki.

[2020-01-15 19:12] #961 closed

[2020-01-15 20:30] christianlupus commented on #1063
You are referring to [this wiki page](https://wiki.partkeepr.org/wiki/PartKeepr_on_Debian_%22Stretch%22)?
This is using stretch (aka Debian 9) while you are using Debian Buster (aka Debian 10). Thus there is a difference in the versions provided with the releases.

I doubt this is working completely. I would not guarantee that the created parts are correctly saved to DB. In fact, the DB is not cor

[2020-01-15 23:27] phil31 commented on #1063
My PK 1.4.0 VM is running under Hyper-V on a new windows server 2019.

I think the best is to create a new VM with Debian 9, as the wiki explain, then I will be back to you when it’s done.

And if you can, you will assist me to import the old database to the new.

I hope than during the install, it will correctly install MariaDB 10.1 !

because I can only follow what the wiki explain ..

if i get

[2020-01-16 10:12] baradhili commented on #270
tested in 1.4.0 and this stays highlighted if you try and select an invalid location

[2020-01-16 10:12] #270 closed

[2020-01-16 10:14] baradhili commented on #257
Hmm thats not a correct way to use an inventory.. same device ID with different footprints or attributes should be different stock items - otherwise you would never know which one were being drawn.

[2020-01-16 10:14] #257 closed

[2020-01-16 10:15] baradhili commented on #242
I'm going to close this as selling things would not be a use-case for an inventory.. better to use an ERP at least for that

[2020-01-16 10:15] #242 closed

[2020-01-16 10:16] baradhili commented on #232
Closing this:
1. #22 covers it mostly
2. the chances of anyone putting things back in the location they got them from... yeah

[2020-01-16 10:16] #232 closed

[2020-01-16 10:18] baradhili commented on #190
Closing this inventories never have fractional units..

[2020-01-16 10:18] #190 closed

[2020-01-16 10:23] baradhili commented on #142
Duplicate of #141 mostly, closing

[2020-01-16 10:23] #142 closed

[2020-01-16 10:24] baradhili commented on #141
Better to leave this to a filesystem IMO

[2020-01-16 10:26] baradhili commented on #119
Suspect this is resolved.. needs testing

[2020-01-16 10:27] baradhili commented on #113
suhosin is inactive now.. closing

[2020-01-16 10:27] #113 closed

[2020-01-16 10:31] baradhili commented on #301
there is red highlighting when fields are incorrect, but I agree

[2020-01-16 10:33] baradhili commented on #302
My suggestion - average price should be removed.. its misleading, and inaccurate... basically - if you are running a shop system of any kind - it should be a shop system, not an inventory system

[2020-01-16 10:34] baradhili commented on #310
no response - since things have moved on a fair bit.. closing this

[2020-01-16 10:34] #310 closed

[2020-01-16 10:42] #349 closed

[2020-01-16 10:45] baradhili commented on #358
Images seem to be handled separate to attachments?

[2020-01-16 10:48] baradhili commented on #369
closing this

[2020-01-16 10:48] #369 closed

[2020-01-16 12:25] christianlupus commented on #302
Just my 50 ct. about the calculation of the prices:

I think it would be better to save the total value represented by the stock instead of an average price. The information is the same but the logic and the numeric is better (no rounding errors).
You can then add new parts by updating the number and the total price. Removing will allow you to give exact prices but with a averaging effect. If your

[2020-01-16 13:55] PGCJLEngineer commented on #302
Partkeepr has not been updated for quite a while. Whilst an excellent application which remains functional, I think you will probably need to apply any fixes yourself for the near future. The website says the last release was April 28, 2018.  Fortunately it is relatively easy to write additional PHP pages to query and update a MYSQL database. See my previous post on 9-2-2018.
Basically you can use

[2020-01-16 13:58] PGCJLEngineer commented on #302
And if you are concerned about average prices for different batches, just give them different part numbers or just ignore partkeepr prices and maintain a separate database for financial stuff and link via part_id references.

[2020-01-16 14:45] baradhili commented on #302
@PGCJLEngineer Christian and myself are taking on the challenging task of cleaning up the issue pile, others are starting to work on restarting development as the main developer is unwell and can't support the code right now. It would be good if you could find a way to contribute the scripts you wrote?

[2020-01-16 14:49] PGCJLEngineer commented on #302
Sorry but I cannot divulge scripts written in the course of my job. However I can tell you what I did (which isn't really difficult). Mostly I just wrote MYSQL queries to generate bills of materials and generate some financial information.

[2020-01-17 11:12] baradhili commented on #410
Overall we need a better way to handle "Average Price" it seems to cause no end of FRs

[2020-01-17 11:14] baradhili commented on #405
decent testing is a must have

[2020-01-17 11:16] baradhili commented on #401
This needs to be defined better

[2020-01-17 11:19] baradhili commented on #1066
@dromer could I have one extra tag.. `low-hanging` ? I see issues from time to time that should be easy fixes

@christianlupus yes.. and I should go back through and check that I've done that

[2020-01-17 11:20] baradhili commented on #398
csv/xlsx import is much better than spreashet UI entry.. 1. its waaay easier since its all backend, 2. a spreadsheet tool is already good at being a spreadsheet :)

[2020-01-17 12:45] dromer commented on #1066
Apparently github provides some automated 'hooks' if you use the tag ```good first issue``` instead:

So shall I call it that instead?
Issues with this tag will appear in some other overviews that are supposed to encourage people to get involved.

[2020-01-17 12:49] baradhili commented on #1066
works for me! :)

[2020-01-17 19:11] phil31 commented on #1063
Well Christian

i have setup a new VM PK 1.4.0 / debian9 / mariaDB 10.1
and no more trouble when i logon :o)

now please let me know the more detailled manner to import the stuffs from 0.1.9 to 1.4.0.
i already export my .sql database from my old PC.
does the different fields, from the previous database, compatible ?

thanks for your support, regards

[2020-01-18 02:41] baradhili commented on #505
closing this as no activity for 5 years

[2020-01-18 02:41] #505 closed

[2020-01-18 02:43] baradhili commented on #478
closing this

[2020-01-18 02:43] #478 closed

[2020-01-18 02:44] #470 closed

[2020-01-18 02:45] baradhili commented on #468
Closing this due to not feedback for ages

[2020-01-18 02:45] #468 closed

[2020-01-18 02:46] baradhili commented on #445
I think this is gone now

[2020-01-18 02:46] #445 closed

[2020-01-18 02:50] #438 closed

[2020-01-18 02:54] baradhili commented on #415
closing this as its really old

[2020-01-18 02:54] #415 closed

[2020-01-18 10:49] christianlupus commented on #1063
OK, then let's start this.
There should be an automatical update of the schema version during the setup method. My suggestion is that you clone the VM to be save if something is going wrong.

It would be best, if we start from scratch here.

## Database import
1. Does your database dump has `DROP TABLE` statements in it? If not, you will have to issue manual commands before continuing. Write here

[2020-01-18 14:29] christianlupus commented on #1031
I suggest that we go with github Pages instead of a github wiki. We would have more options regarding file organization there and there is no big difference between the two solutions. Are there any options that a github wiki might be better suited?

@Drachenkaetzchen I did not get much attention and response from other users regarding the migration of the wiki. Do you have any schedule or how woul

[2020-01-18 14:37] christianlupus commented on #905
I recently installed Partkeepr and did not get this message. Thus, I am closing it. If anyone runs into it, we will reopen.

[2020-01-18 14:46] Drachenkaetzchen commented on #1031
I really can't give any feedback. I am only able to do bare bones admin stuff for the project.

[2020-01-18 14:52] christianlupus commented on #916
I think this is a duplucate of #1050 and similar threads originating in the too old symphony framework. Thus closing.

[2020-01-18 14:52] #916 closed

[2020-01-18 15:07] christianlupus commented on #865
Although this bug is quite long and emotional, I ask nevertheless: Is it still an issue with the current git version? Can you verify this, please?

[2020-01-18 15:09] christianlupus commented on #739
The main issue was detected and solved. If @ramonil has still the same problem, please open a new issue.

[2020-01-18 15:09] #739 closed

[2020-01-18 15:22] christianlupus commented on #892
Still present in current demo page.

[2020-01-18 15:25] christianlupus commented on #748
As WSSE is deprecated and shall be replaced by HTTP Basic in the future, I am closing this here as oout-of-date.

[2020-01-18 15:27] christianlupus commented on #814
Can you @WickedAx please verify that it is still an open issue on the demo page?

[2020-01-18 15:33] christianlupus commented on #798
The search itself is working except for the id field.

Regarding the ID fiels see #924 and #992.

[2020-01-18 15:33] #798 closed

[2020-01-18 15:35] christianlupus commented on #757
As this issue is quite old and most probably solved itself, I will close it. In case it is still valid, please write an additional comment.

[2020-01-18 15:35] #757 closed

[2020-01-18 15:46] christianlupus commented on #918
@jpi90 Can you verify this is still an issue on the demo page?

[2020-01-18 15:50] christianlupus commented on #893
I assume this is no longer an issue with version 1.4. Thus closing.

[2020-01-18 15:50] #893 closed

[2020-01-18 15:55] christianlupus commented on #927
OK, I will tag this as a feature request to use a better suited caching method than the standard by the Symphony framework (if possible at all).

[2020-01-18 15:57] christianlupus commented on #878
@Schurick Please check if the problem is still present with current PartKeepr and browser installed. Otherwise we can close this.

[2020-01-18 16:14] christianlupus commented on #913
I am unsure, if I understand your issue correctly. You have a part defined in the part manager and put in some stock using the web frontend. Do you put a price tag there already?

[2020-01-18 16:24] christianlupus commented on #912
@KHuffman35 Could you please retry the current demo page if the problem still exists?

[2020-01-18 16:26] christianlupus commented on #1031
OK, then I ask @dromer to give his opinion.

[2020-01-18 16:41] christianlupus commented on #811
@thijz your problem has a (forward) proxy involved, that you cannot avoid?

[2020-01-18 16:42] christianlupus commented on #909
@KHuffman35 Can you verify this is still an issue on the current demo page?

[2020-01-18 16:44] christianlupus commented on #907
This is solved. Closing.

[2020-01-18 16:44] #907 closed

[2020-01-18 16:46] christianlupus commented on #904
Confirmed on current demo page.

[2020-01-18 16:47] dromer commented on #1031
Hey all, I haven't seen any discussion about migrating the wiki to github.

I do think it makes sense to concentrate all the info we have into a single resource. But also the info we migrate over should be relevant and pruned of legacy things.

My experience with github wiki and pages is pretty much non-existent so I can't really comment there.

[2020-01-18 16:49] #897 closed

[2020-01-18 16:50] christianlupus commented on #902
Confirmed on Demo page.

[2020-01-18 16:53] christianlupus commented on #900
Can you please try to verify on demo page? I cannot reproduce. If you can, please provide exact steps.

[2020-01-18 16:53] #900 closed

[2020-01-18 16:56] christianlupus commented on #1043
Did you click on **Auto-fill distributors** at the bottom of the big grid? This should fill in these fields. Please check this out.

[2020-01-18 16:57] #896 closed

[2020-01-18 16:59] christianlupus commented on #894
See #1027 #992 #798

[2020-01-18 16:59] #894 closed

[2020-01-18 17:00] #885 closed

[2020-01-18 17:01] christianlupus commented on #891
Can you please verify this is still an issue on the demo page?

[2020-01-18 17:10] christianlupus commented on #781
No answer in the last 2 years. So closing now.

[2020-01-18 17:10] #781 closed

[2020-01-18 17:11] christianlupus commented on #633
As WSSE is deprecated and a potential solution is present, I close here.

[2020-01-18 17:11] #633 closed

[2020-01-18 17:13] christianlupus commented on #564
See #551

[2020-01-18 17:16] christianlupus commented on #737
I tried and could not reproduce. @DTFUHF could you please check once more?

[2020-01-18 17:24] christianlupus commented on #883
@jbanyai @djklkk @raklet Can you please check if the current demo page does have the issue? If no, could one of you please document the steps involved (ideally with screenshots) so that we might put it in the wiki? Thank you.

Otherwise, I assume the problem to be fixed.

[2020-01-18 17:30] christianlupus commented on #882
As far as I understand, you want to have the internal part number visible in the big grid.

Hover with the mouse over one of the column headers, click on the small triangle and click on **Colums**->**Customize**.
Right to the cancel button is button to add a column. Click it. On the right select a field and *part*->*internalPartNumber*. Give the column a title like *internal ID*. Click on **Apply*

[2020-01-18 17:30] #882 closed

[2020-01-18 17:36] christianlupus commented on #1031
Yop, that's pretty much it. The wiki btw as well. The difference is that pages is intended to be used for a site while the wiki for a rough set of more or less short chunks of information that are not sorted/organized. This had me (during my first test of the migration) caused some trouble as filenames are automatically guessed by the underlying server, e.g. case sensitivity caused problems.

What

[2020-01-18 19:38] christianlupus commented on #875
I cannot reproduce it in the current demo version. Most probably it was solved in the meantime.

[2020-01-18 19:38] #875 closed

[2020-01-18 19:41] christianlupus commented on #874
I think this is solved in the meantime. I cannot reproduce it on the demo page.

[2020-01-18 19:41] #874 closed

[2020-01-18 19:42] christianlupus commented on #873
I'll change it in the potential new wiki pages.

[2020-01-18 19:54] christianlupus commented on #873
The temporary version is visible [here](https://github.com/christianlupus/Test-PK-Pages/wiki/KB00005_Web_Server_Configuration). @kbembedded are you ok with the modifications?

[2020-01-18 20:01] christianlupus commented on #707
@philm001 as there was  no more communication here, I assume the issue has somehow settled. If still an issue (especially on the demo page), please tell me, then I will reopen it.

[2020-01-18 20:01] #707 closed

[2020-01-18 20:04] christianlupus commented on #688
@robertomurta I assume, you got things sorted out in the meantime, otherwise you would have recontacted. If not, please comment, we will try to help.

[2020-01-18 20:04] #688 closed

[2020-01-18 20:10] dromer commented on #1031
Sorry I meant the site generator. I believe github pages can use others than jekyll?

I'm not sure jekyll will be the easiest/nicest way to organize a wiki though, what would the advantage be over the github wiki exactly?

I don't think we should necessarily host the main partkeepr website just yet, lets focus on up to date information resources like the wiki.

There are some fragmented pages on t

[2020-01-18 20:14] christianlupus commented on #746
At the moment we do not have any translation system implemented. See #27.

[2020-01-18 20:14] #746 closed

[2020-01-18 20:15] christianlupus commented on #755
As this seems solved, I close it.

[2020-01-18 20:15] #755 closed

[2020-01-18 20:21] christianlupus commented on #713
Did you manage to get things working in the meantime, @nobicycle @watersAbove? It was quite some time since the last comment on the issue.

[2020-01-18 20:22] #792 closed

[2020-01-18 20:27] christianlupus commented on #838
@mhubig I assume you managed your way around the problem by using the [entrypoint function](https://github.com/mhubig/docker-partkeepr/blob/master/docker-php-entrypoint). Thus, I am closing this issue here. If you want to keep it up, please simply give a comment.

[2020-01-18 20:27] #838 closed

[2020-01-18 20:46] christianlupus opened #1067 "Import failing with too little information"
When importing data using the CSV import function, not much checks are carried out and in case of problems the user does not get the relevant information in order to correct the situation.

See also e.g. #869

[2020-01-18 20:46] christianlupus commented on #869
I am closing as the main problem has been resolved.

[2020-01-18 20:46] #869 closed

[2020-01-18 20:52] christianlupus commented on #635
@baradhili What do you think of this issue?

[2020-01-18 21:16] christianlupus commented on #1031
No problem. Could be, I did not work it out completely yet.

Well, the difference is minor to be honest as far as I see it. Both take markdown (or whatever format pandoc can read) and format it in a nice way.
I found the problem, that the wiki does not allow for namespaces and the mapping between links and the corresponding file name is sort of heuristic:
- The wiki contains two pages which differ

[2020-01-18 21:26] christianlupus commented on #1066
@baradhili I worked my way through the untagged issues just now. To be honest, I will not proceed for today, this was enough. Nevertheless, I wanted to arrange with you the next steps. Looking forward for your reply.

[2020-01-18 22:29] kbembedded commented on #873
I'm glad to see this project is moving forward again.

The potential wiki change looks good to me!

[2020-01-18 23:15] christianlupus commented on #873
Thanks, I'll keep it then like that.

[2020-01-18 23:15] #873 closed

[2020-01-19 00:33] KHuffman35 commented on #909
This issue is resolved.  Honestly it was probably user error.  Once I worked through all of the import issues, I documented the results and posted them on Partkeepr's Google groups.  The directions appear to work as others have successfully used them.  Thank you for following up on this.

Are you managing new bug reports?  I've spent several weeks attempting to install Partkeepr on a Raspberry Pi3

[2020-01-19 01:18] baradhili commented on #909
@KHuffman35  from other tickets.. try using mysql instead of mariadb, seems mariadb version might be confusing the installer..

I'll close this ticket, and if you do a search for install and mariadb here you should find the relevant tickets..

Christian and myself are trying to get the issues into order so that they can be sensibly worked on..

[2020-01-19 01:18] #909 closed

[2020-01-19 01:24] baradhili commented on #905
@christianlupus I got the error and the fix is #1065 ...

[2020-01-19 01:26] baradhili commented on #1066
@christianlupus yes.. I found I can sustain about 20/25 issues per day.. after that my brain is fried...
I will have a run at it this morning..

@dromer next steps we would probably have to start looking at prioritisation.. and most importantly.. assigning to devs.. do we have any devs?

[2020-01-19 01:30] baradhili commented on #635
@christianlupus it does need to be done at some stage in order to drive integration...
I'm not a Symfony dev.. but this looks [here](https://symfony.com/doc/current/bundles/NelmioApiDocBundle/index.html) like a solution

I'd suggest this is a `Must Have` priority, but also `Good-first-issue`

[2020-01-19 01:32] baradhili commented on #1031
I'm happy either way.. but having a maintainer would be a good idea... my experience is that these things age fast

[2020-01-19 02:17] KHuffman35 commented on #909
Thanks for the information and your work on moving PartKeepr issues forward.
I'm using mariadb (following Debian Stretch instructions).  The install runs, but I get a database schema out of date error after running setup.  I've attempted to run the force command on the database but get a Symfony warning (does not appear the force executes).
I tried doing the install with both PHP7.3 and 7.1 (same

[2020-01-19 04:52] nobicycle commented on #713
Thanks for the inquiry. Please close as too old. Did not resolve.

[2020-01-19 04:52] #713 closed

[2020-01-19 08:18] christianlupus commented on #635
OK, I'll go with it.

[2020-01-19 08:29] christianlupus commented on #909
The message *database schema is out of date* at each start of PartKeepr is a clear indication for a version conflict of the used (but in the meantime outdated) Symphony2 framework of PartKeepr and the MariaDB version you have installed (probably 10.2 or later). See #1065 and the duplicates.

On which device/distribution are you running? If you are running on a real machine (no raspberry pi nor on

[2020-01-19 10:13] christianlupus commented on #1066
@baradhili I just sent you an email to your ticm domain. Can you please check your account?

[2020-01-19 10:24] christianlupus commented on #1031
That is true. You mean one person solely dedicated to keeping the documentation up-to-date?

I would be okay to help the project in this way as well. Do not understand me wrongly: I am not pressing into this position. It should be decided consensuosly.
At the moment there is not much new things to document. Mainly updating the existing one. This might change if the project gets traction again and

[2020-01-19 10:53] dromer commented on #1066
Er ... if we did we wouldn't have this backlog :)

I think you guys are moving a bit faster than the project currently 'allows', which is a good thing since organizing the backlog was clogging things up so hopefully prioritization will help put some focus for those willing to contribute. (finding them, or have them find us, is a different challenge of course)

[2020-01-19 11:43] KHuffman35 commented on #909
My goal is to run on Pi.  I'll follow your advice and downgrade the MariaDB (or switch to a standard computer).  Thanks for the quick responses.  Your efforts with Partkeepr are greatly appreciated

[2020-01-19 15:56] Drachenkaetzchen commented on #1031
I have a bit more energy today, so here are a few thoughts:

- The current wiki makes it hard for people to contribute documentation since I had to disable registration, requiring me to manually create users
- The GitHub integrated wiki makes navigation hard, especially if there are many pages not properly linked from the main page.
- It must be easy to contribute documentation. Preferably where u

[2020-01-20 11:06] christianlupus commented on #1031
That is somehow a contradiction to a wiki but I understand the needs.

That is perfectly true. I do not find it very esthetic how the wiki is built. One has to make sure that there exists fine net of links throughout the wiki in order to simplify navigation.

They use the github pages feature but in a more elaborate setup than the basic one. I did not get through everything yet but I can look into

[2020-01-22 03:58] #614 closed

[2020-01-22 03:59] baradhili commented on #590
1.4.0 no need for phpldap now

[2020-01-22 03:59] #590 closed

[2020-01-22 04:04] nicklinn commented on #905
Got this issue.  Fixed with update to monolog-bundle >3.1.0
symfony/monolog-bundle:3.1.* fixed it

[2020-01-22 04:06] baradhili commented on #905
@christianlupus I think this is a good one to be added to the docs :)

[2020-01-22 04:08] baradhili commented on #510
this is basically an audit trail feature..

[2020-01-22 04:11] baradhili commented on #536
this feels more like adding a rest api backend...

[2020-01-22 04:16] baradhili commented on #578
ran deepscan against the codebase.. not high issues found, a handful of medium/low issues..

[2020-01-22 07:04] #823 closed

[2020-01-22 07:09] baradhili commented on #814
Running on my local install, followed steps get this error
`An error occurred

Details
==================================
Expected argument of type "PartKeepr\ManufacturerBundle\Entity\ManufacturerICLogo", "Proxies\__CG__\PartKeepr\ImageBundle\Entity\TempImage" given

Request
==================================
POST http://kamaji/api/manufacturers?_dc=1579676903329

[object Object]

Response Status

[2020-01-22 07:10] baradhili commented on #621
No longer occurs in 1.4.0

[2020-01-22 07:10] #621 closed

[2020-01-22 10:47] christianlupus commented on #536
I do not know much about the design but are we not yet using some sort of REST API? So is this more a esthetic issue or a functional one?

[2020-01-22 11:05] christianlupus commented on #905
I can put it in the docs (at least the staging ones) but I doubt this is a really good idea. You are changing part of bundle from 2.7 to 3.1. This is a major version change and I am unaware of any side effects this might have or not have.
In fact you make the users to do the update to symphony 3 themselves partly. I had very bad experience with such zombie programs of mixed versions.... It might n

[2020-01-22 11:07] christianlupus commented on #905
@baradhili Do you have more information or knowledge that this is a safe advice?

[2020-01-23 00:53] baradhili commented on #1051
since @HendriXML  has gone into a huff.. we might as well close the tickets

[2020-01-23 00:53] #1051 closed

[2020-01-23 00:54] #1006 closed

[2020-01-23 00:55] #1005 closed

[2020-01-23 00:55] #1001 closed

[2020-01-23 00:58] #775 closed

[2020-01-23 00:59] baradhili commented on #764
@Gotos just wondering if you had any success updating dependencies?

[2020-01-23 01:04] baradhili commented on #905
@christianlupus ah not doing a module upgrade.. but @erikvanberkum 's comment

<<
You can fix this quick and dirty:
go to file -> `/vendor/symfony/monolog-bundle/DependencyInjection/Configuration.php`

around line 594 comment out or remove line below:

`// ->ifTrue(function ($v) { return ('fingers_crossed' === $v['type'] || 'buffer' === $v['type'] || 'filter' === $v['type']) && 1 !== count($v['han

[2020-01-23 01:06] baradhili commented on #536
I believe we have something.. but.. :)

[2020-01-23 01:07] baradhili commented on #627
#821 duplicate

[2020-01-23 01:13] baradhili commented on #692
We really need a way to have plugins, or to at least list stuff people have done..

[2020-01-23 01:13] #692 closed

[2020-01-23 01:14] #737 closed

[2020-01-23 07:50] Gotos commented on #764
Only partially. If I recall correctly I ran into some problems and something else came up so I couldn't investigate further. But I don't remember the details, sorry.

[2020-01-23 08:04] christianlupus commented on #627
I reopen as there is still the issue of filter templates open, that is not covered in #821 as far as I see.

[2020-01-23 08:05] christianlupus commented on #692
see also #531

[2020-01-23 08:06] baradhili commented on #764
ahh we are trying to re-start this one and I was wishfully hoping that you had managed it :)
thanks!

[2020-01-23 08:10] christianlupus commented on #905
Ahh, OK, I see. I will keep it open until I wrote it to the docs.

[2020-01-24 10:03] christianlupus commented on #1063
There was quite some back-and-forth using mails. I will insert the mails here to keep track of the progress.

[2020-01-24 10:07] christianlupus commented on #1063
From 01/20/20 10:36:

Hello Phil,

You said you created already a dump of the database (typically a *.sql file).
Just open it in a plain text editor. It contains just plain text.

The language you see is called SQL. Depending on the setting you gave when
creating the dump, there are various parts omitted. The file contains blocks
like this (here for table foo):

[code]

The blocks might get length

[2020-01-24 10:08] christianlupus commented on #1063
From 01/20/20 11:07:

here it is my dump file. i don't see any "DROP TABLE" sentence
maybe i do badly the export ! i don't know too much things on SQL stuffs ..?

so we can see some paths with "C:\\inetpub\\wwwroot". that maybe bad for the import step ..?
i remember that it take me long time to successful install it, but finaly it was perfectly working for several years !
i had write some tutorial

[2020-01-24 10:09] christianlupus commented on #1063
From 01/20/20 12:38:

Hello Phil,

I changed the SQL file by adding the DROP TABLE commands. No big deal there
with regular expressions.

The paths are in the cache, I would try what happens if the warming cache step
in the setup manages this or if there will be a problem with it. In the latter
case we can restart and adopt the paths in the file by regex replacing as well
(I need the installation

[2020-01-24 10:10] christianlupus commented on #1063
From 01/20/20 14:43:

let me know ?

[2020-01-24 10:11] christianlupus commented on #1063
From 01/21/20 10:23:

Hello Phil,

yes, try to go forward. I do not have your data, so I cannot try it myself. I
can only advice you the best I can.

If something odd happens you are welcome to come back to me.

Sorry for the late answer
Christian

PS: Keep me updated so we can close the issue once you are done with it.

[2020-01-24 10:13] christianlupus commented on #1063
From 01/21/20 14:32:

[2020-01-24 10:14] christianlupus commented on #1063
From 01/21/20 14:38:

how can i retreive the old user/pass from my old PK ?

[2020-01-24 10:15] christianlupus commented on #1063
From 01/21/20 15:03:

step "Existing Configuration" : No configuration found
step "Database Parameters" : i set the parameters for the new database and try with phpMyadmin to set the username/password.
so, i logon to phpMyadmin, but it seem that i have no more any right on the Partkeepr database !!! i can't set "GRANT USAGE ON *.* ..."  :((((

[2020-01-24 10:16] christianlupus commented on #1063
From 01/21/20 15:23:

now i see my database "Partkeepr" and re setup the grant usage to the user "Partkeepr"

[2020-01-24 10:17] christianlupus commented on #1063
From 01/22/20 11:14:

Hallo Phil,

this is sort of weird. I can try it on my machine if the file is importable.

Of course, you cannot log into. You must first do the whole migration before
you can use the installation again.
So trying to login or running the setup mid-process might at best not help and
at worst destroy your data in the VM. E.g. if a file is not found, it might get
removed from th

[2020-01-24 10:17] christianlupus commented on #1063
From 01/22/20 11:17:

Hello Phil,

That should be exactly the case you should not have installed PK in the first
moment. You could as well have dropped the WHOLE DB and recreated it.

As I said: We have to start from scratch.

You should have done that by now.

First make sure, you get it running.
You do know the username/password combination of the old PK installation or
not?

Christian

[2020-01-24 10:17] christianlupus commented on #1063
From 01/22/20 11:19:

You mean the wrong db host and user name? This needs to be updated.

Yes, PK will avoid overwriting existing data in the DB to ensure that a
configuration error (like yours) destroys the data.

[2020-01-24 10:18] christianlupus commented on #1063
From 01/22/20 11:42:

OK, I think, you might have done quite some things.

I just tried it: I can successfully import the SQL file into a mariadb server.
I do not see any problem here.

So I think it is time to start over at this moment.

First log into the phpMyAdmin and select the database. Remove any existing
table from there.
Normally you use a non-root account for the productive access to the

[2020-01-24 10:21] christianlupus commented on #1063
From 01/23/20 10:18:

using the SQL commands provided in the tab "database parameters"

function under phpMyAdmin : no error

directory) and adapt the rights for the user/group

compatible with the new database

schema" : RED

just type the 3 lines given by the Database parameters tab ).

[2020-01-24 10:22] christianlupus commented on #1063
From 01/23/20 11:35:

Hello Phil,

sorry, my French is quite rusty so I cannot answer in French, excuse-moi.

Your PK instance should use the user partkeepr in the database, right?

Was the previous configuration detected correctly (tab "existing
configuration")?
The fact that you are in the step "Setting up database schema" and not in
"Updating database schema" indicates for me that you are tryin

[2020-01-24 10:27] christianlupus commented on #1063
From 01/23/20 11:56:

phpMyAdmin and select / set all privileges to the `partkeepr` user

[2020-01-24 10:28] christianlupus commented on #1063
From 01/23/20 16:35:

Hello once more,

I am running into bigger problems than I thought. Trying to install the 0.1.9
version of PK but failing to set up the infrastructure at the moment (needs
time to get it right).

Christian

[2020-01-24 10:29] christianlupus commented on #1063
From 01/23/20 16:55:

All my wishes to help you ;o)

stuff to do !

[2020-01-24 10:31] christianlupus commented on #1063
@phil31 I ask you to proceed here in github and not via mail as this allows to track the progress of the issue and others might get involved.
The only exception might be in case of private data you do not want to share with the public internet (thus I did not attach the sql files as one could try to hack your password from the included hash).

[2020-01-24 14:07] ikcalB commented on #942
@christianlupus have no time to test ATM - as my patch is merged, I can only assume this issue is resolved (it sure did resolve it for me, back than)

If further testing is desired, pls contact me directly.

[2020-01-24 14:07] #942 closed

[2020-01-27 04:36] baradhili commented on #864
I think this is not actually a feature request.. its a case that people are configuring their cronjobs incorrectly.. needs to be show in wiki that cronjobs need to be the same user as partkeepr i.e. `crontab -u www-data -e`

[2020-01-27 04:37] #862 closed

[2020-01-27 04:39] baradhili commented on #858
closing this as its resolved in 1.4.0

[2020-01-27 04:39] #858 closed

[2020-01-27 04:49] baradhili commented on #844
Closing this as a non-issue

[2020-01-27 04:49] #844 closed

[2020-01-27 04:52] baradhili commented on #832
linked to #302 ... Average Price is a real pain and need s a redesign

[2020-01-27 04:52] baradhili commented on #412
linked to #302

[2020-01-27 04:53] baradhili commented on #410
Linked to #302

[2020-01-27 04:53] baradhili commented on #408
linked to #302

[2020-01-27 04:54] baradhili commented on #828
wont' fix

[2020-01-27 04:54] #828 closed

[2020-01-27 04:57] baradhili commented on #778
Closing this as solved in 1.4.0

[2020-01-27 04:57] #778 closed

[2020-01-27 13:15] christianlupus commented on #942
Thank you

[2020-01-28 04:01] baradhili commented on #1052
@juan-23849 right now the main developer is unwell and can't help.. it might be a case of "fork the repo and give it a go" :)

[2020-01-28 04:02] baradhili commented on #1012
since @HendriXML has "take his toys and gone home" closing this

[2020-01-28 04:02] #1012 closed

[2020-01-28 04:03] baradhili commented on #1008
closing this as its old, it looks like a user error and it looks resolved

[2020-01-28 04:03] #1008 closed

[2020-01-28 04:03] baradhili commented on #1000
Closing this as issue resolved

[2020-01-28 04:03] #1000 closed

[2020-01-28 04:08] baradhili commented on #945
Closing as 1. its old, 2. its was rare then and appears to be a browser addon

[2020-01-28 04:08] #945 closed

[2020-01-28 04:08] #936 closed

[2020-01-28 04:08] baradhili commented on #933
Closing, user setup error

[2020-01-28 04:08] #933 closed

[2020-01-28 04:09] baradhili commented on #925
closed issue resolved

[2020-01-28 04:09] #925 closed

[2020-01-28 04:09] baradhili commented on #918
closing, 1. old, 2. old, 3. old

[2020-01-28 04:10] baradhili commented on #913
closing for lack of feedback and old version

[2020-01-28 04:10] #913 closed

[2020-01-28 04:11] baradhili commented on #912
suspect import code doesn't care for location when checking if part exists.

[2020-01-28 04:12] baradhili commented on #891
I also noticed this.. its a simple fix and should be done..

[2020-01-28 04:17] baradhili commented on #865
@christianlupus there was a comment above in all the flaming that its still there in 1.4.0

[2020-01-28 04:22] baradhili commented on #1066
ok guys.. we now have an issues list with all issues assigned to a milestone and quite a lot closed
I think our focus now is to get someone developing :)   sadly I have NFI around ExtJS and Symfony so can't help...

options

1. we get a sponsor and use freelancers on guru.com or stackexchange
2. we try and find some ourselves
3. ?

[2020-01-28 14:14] phil31 commented on #1063
Hi Christian, any news about your 0.1.9 setup ?

thanks,
phil

[2020-01-28 14:24] christianlupus commented on #1063
I need to do it the manual way. As documentation is updated in the meantime and dependencies are not all available anymore as it seems, I need to do quite soe work to get this running.

You might try something different:
Can you try to clone the old installation to the VM without updating? So just copy over the whole file structure plus the DB dump and insert the dump into a (another) database of

[2020-01-31 13:33] christianlupus opened #1068 "Barcode scanning not obvious working"
[comment]: # (Hi and thanks for an issue. In order to help you best, please fill out the following information.)

I am willing to put labels on my parts. Ideally I would have an option to scan for parts using a barcode or the like. However, I would need to know what exactly I put into the barcodes before I start printing hundreds of labels just to see the barcode is not working.

I think there are

[2020-02-03 08:48] phil31 commented on #1063
hi Christian
well was really busy last week !
you want that i copy the old 0.1.9 files to the new VM ? but which directory / files exactly ?
then import the old database to a new one (with a new name)
(using a copy of the VM of course)

that is already what we try as describe in the wiki help ?...i'm not sure to right understand what you mean

regards

[2020-02-03 12:20] christianlupus commented on #1063
I intend to make smaller steps. So the idea is to first migrate the installation completely to your VM **without** upgrading. As soon as it is running you can make a backup thereof.
With the backup saved, you can try to migrate to the latest version of PK. You might need to do this in multiple steps as we had problems during the migration phase in our first attempt.

So, you need to copy the compl

[2020-02-03 12:50] phil31 commented on #1063
mm you mean copy the 0.1.9 to a fresh VM
apply modification to work on this new VM
then try an update to 1.4.0 ..
seem complex for my poor linux knowledge ! and remember, my 0.1.9 was working on a Windows server .. so there is surely a lot of things to modify before it will work on a new debian server !

and folowings the differents thread, it seem not a good idea !?

i think the best and simplest

[2020-02-03 13:35] christianlupus commented on #1063
The database is most probably imported already. This was not the issue here.

I assume that the newer PK has a different database structure than the older version. It detects this on the invocation of the setup script. As a result, the database schema is to be updated. This update process seems to be your culprit as far as I understand things here.

As you are using a webserver the difference betw

[2020-02-03 14:41] phil31 commented on #1063
I am convinced that it will be very complicated to try to run my old installation in a new VM.
it exceeds my knowledge of Linux and we will waste a lot of time exchanging questions and answers!

do you have a VM 1.4.0 to try to import my database and run the /setup ?
if yes, message me to my personnal email, i will send you what you required.
or i can try to send you a zip of my old windows setup

[2020-02-04 07:43] christianlupus commented on #1063
1. As far as I understand it, you are running Debian Stretch inside your VM, right?
1. Where are you planning on publishing the PK instance? In `/var/http/www`?

I will send you a link to my private Nextcloud instance. There you can upload a ZIP file of your old installation (complete Partkeepr folder, there should be multiple folders like `app`, `data`, `scripts`, `setup` and the like). I will in

[2020-02-05 15:04] christianlupus commented on #1063
OK, @phil31, I think I got this sorted out.

I uploaded three files to the Nextcloud folder I sent you earlier. Download all to the VM. Additionally download the latest [PK version 1.4.0 release](https://downloads.partkeepr.org/partkeepr-1.4.0.zip). I was using VirtualBox thus cloning the whole VM seems unusable. Also, it might get quite large. Thus you need to install locally for yourself. It sho

[2020-02-07 13:10] phil31 commented on #1063
I warmly thank Christian for his precious help!
it took a long time to detail and test at home. the result is perfect, I now have my old base 0.1.9, functional in 1.4.0
this tutorial is a must!
Thank you very much Christian

[2020-02-09 02:45] dromer commented on #1068
At the hackerspace we only use barcodes for storage locations, which is just a human readable string.
Our barcode-scanner behaves like a regular USB Human Input Device.

To search:
- click filter at the bottom of the main screen
- storage location input field
- scan the code
- find items

Similar for adding (storage location must already exist, but you can add it if it's not in the list yet).

[2020-02-09 02:49] dromer commented on #1068
It would be great to have hotkeys hooked straight into 'location search' or 'add part with this location'.

[2020-02-09 11:49] christianlupus commented on #1063
I am closing this as it seems to be 100% solved.

For those running into a similar issue (and to remember things on my own): The problem here was a migration from a Windows host to a Linux host. As a result, the case sensitivity of the filesystem was used in the name of the databases as well (standard settings on Windows and Linux differ here). Thus, there was a naming clash in the database trigge

[2020-02-09 11:49] #1063 closed

[2020-02-10 14:32] christianlupus opened #1069 "Batch assign values"
It would be nice to have a feature to assign a certain set of values to all selected parts in the view. For example if you want to reorganize the parts into a new set of storage locations, you need to click your way through **every single** part.

I am aware that I might be able to some magic on the command line and modify the database directly. This is however not a good approach for less experie

[2020-02-10 14:38] christianlupus commented on #1068
So do mine.
I was just unsure, if I need to create a "special" set of barcodes in oder to make them use the search function automatically. In this case I would have to do this before starting to print them out :smirk:.

I think here it would be easier to have QR codes pointing to matching URLs. This would allow much more flexibility also to avoid conflicts with hotkeys from the browser (I had a ha

[2020-02-10 15:21] christianlupus commented on #1068
Yes, that is true. I have not (yet) thought it through completely. It was just a first guess.

But this was exactly my thinking that such a preamble might be needed and functional. But I think it is not. So I wil make simple labels. Maybe I will add a QR later if needed....

[2020-02-10 21:46] JustinEldracher commented on #1050
I had the same issue, after a few others.  Finally got everything to work using PHP 7.2, APCU and the APC backwards compatibility package, only to get the database schema issue.  But I'm using MariaDB 10.4, so that explains it.

A version check in the installer, or even just a list somewhere in the installation docs that talks about some of these compatibility issue would be awesome!  I went ahead

[2020-02-13 00:59] Boldie commented on #1066
Furthermore, you should ensure not to to kick somebody in the teeth by removing its hard work without contacting him. This happened to my printing function and since then I was only watching from the side line what is happening here. I also stuck with a piece of software which is useless in newer version, because there was no such function added again.

There should be a clear structure how to dea

[2020-02-13 01:08] baradhili commented on #1066
@Boldie Hi Sven, apologies if your work was removed without notice.. things have changed a lot in the project in recent times and we are very keen to build the trust of the community - _**especially the developers**_

BTW - I'm assuming your printing function does bulk printing? what would be necessary to make it work again?

[2020-02-13 16:37] christianlupus opened #1070 "Make Travis build without error"
The travis system does not build successful at the moment. This should be corrected to allow automated testing or travis should be removed altogether.

[2020-02-13 17:14] christianlupus commented on #1066
This is mostly correct but because the project was mostly managed in a one-person project. There was no need to define rules to interact with the *community*. As we start to share the weight of the project onto multiple persons it might be beneficial to define rules on how to proceed.

I assume you are a programmer yourself to be able to make such a statement with authority. I do not mean to offen

[2020-02-13 22:06] Boldie commented on #1066
It consists of 2 parts:
- The bulk printing of StorageLocations / Parts to a pdf
- Printing a single part (for labels)

The first one was highly integrated, but also adds some problematic dependencies. The second one maybe implemented again better using the REST API today. It is still tracked in one of these 200 open issues :)

I just had a look at the code: I have some problems on how this stuff

[2020-02-13 22:25] Boldie opened #1071 "Create a fixed environment container (with docker for e.g.) to support starting developers or testers."
We shall provide an easy to use environment and also a reference environment to support testing and developing. Common used tasks shall be made easy accessible for e.g. using a shell script or similar thing. For e.g. the following stuff shall be possible:

- Load demo data to a database
- Complete setup including easy to use database setup.
- "One-Click" installation and then use for development o

[2020-02-13 22:28] Boldie commented on #1071
Maybe this is also related to #1041 #1066

[2020-02-14 06:24] christianlupus commented on #1071
There is a docker container managed by mhubig. Although I'd like to see it be under official namespace of partkeepr. But this is merely for production and not for development.

One problem is that there needs to be a way to run the setup without calling a set of web sites. This is needed as (at the moment according to my understanding) nobody except for @Drachenkaetzchen knows exactly what happens

[2020-02-14 06:30] christianlupus commented on #1070
I would be willing to look into this if I can make it running but I am unsure if I will get it there. So, please be kind :smile:.

[2020-02-14 06:47] christianlupus commented on #1041
See also #1071. The question is, are we better of with a dockerized encapsulated installation on end-users' machines or with a plain installation "somewhere" in the bare machine using ansible.

I see your point but I think that using docker we might have better chances to get a smoothly running software. But this is open for discussion and only a personal opinion. If anyone wants to help here, you

[2020-02-14 07:30] shafr commented on #1071
It would be much more convinient to do a `docker-compose` with PostgreSQL.
And you can export demo site to .sql files (from normal installation) and then import them inside database during intialization.
* What about windows users ?
* What about *pi users ? It would be nice to have embedded database that would not take a lot of space.

[2020-02-14 10:10] dromer commented on #1070
This is just a single test that fails at the moment (see https://github.com/partkeepr/PartKeepr/pull/1061 )

[2020-02-14 12:21] Drachenkaetzchen commented on #1071
Well, the code is there.

Also, all setup does is to generate the `config.php` file and wraps symfony commands to setup the environment. See https://wiki.partkeepr.org/wiki/Running_PartKeepr_from_GIT#Updating

[2020-02-14 12:34] christianlupus commented on #1071
Well, that is a goog source of information. Thank you for the hint @Drachenkaetzchen.

[2020-02-14 17:53] JustinEldracher commented on #1067
I installed PartKeepr from the GIT repository a few days ago, and when trying to import data, after I browse for the file and click "Upload", the file is not loaded into the preview.

When I use the Demo site, it works fine, and the file preview is displayed so I can match columns.

So I'm thinking it must be some sort of configuration difference.  I tried changing the EOL settings on the file, an

[2020-02-14 20:07] christianlupus commented on #1070
@dromer I just opened #1082 to remove the failing test temporarily. It should work out (needs 15 more minutes, I go to bed now), will check next days.

Is there a reason why #1061 was not yet merged? I do not see any obvious show-stoppers. This would allow testing all the dangling PRs if they were rebased/check-merged to the master branch afterward.

[2020-02-14 22:54] Boldie commented on #1066
Is there a way to contact the community? I think most of the users are no aware we need some help here, otherwise the project will be more and more outdated and at some time non usable any more. Is it possible to put a statement to the homepage? Since there are most of the downloads, the people with proper knowledge are not aware of the situation and this repository here.

[2020-02-14 23:05] baradhili commented on #1066
@Boldie Good idea! @dromer @Drachenkaetzchen  does someone have access to the main web page?

[2020-02-14 23:06] baradhili commented on #1067
I have noticed that downloading 1.4.0 is different from the git 1.4.0... you could down 1.4.0 direct and install it elsewhere and then compare?

[2020-02-14 23:42] Boldie opened #1083 "Upgrade to Symfony 4"
Upgrade Symfony framework to Version 4. For the Moment Version 2.7 is used.

Drawbacks: PHP7.1 as minimal requirement.

Here is some information about upgrading it:
https://github.com/symfony/symfony

I was unable to find information of Upgrading from 2.7 to 3

[2020-02-14 23:43] Boldie commented on #1066
@christianlupus Is there a list here or in the milestone view which work needs to be done next? I think one of the first things is to upgrade to Symhony4 #1083 ?

[2020-02-15 01:17] dromer commented on #1066
@Boldie yes, there has been work done to priorities issues. see this list:

https://github.com/partkeepr/PartKeepr/issues?q=is%3Aopen+is%3Aissue+label%3A%22Must+Have%22

Upgrading symfony, and other dependencies, is the biggest and most important one at the moment.

[2020-02-15 01:23] dromer commented on #1066
We are with a number of users in the #partkeepr irc channel on irc.freenode.net
There is also the google groups (a public and a private one), but I think the issue tracker + IRC are your best bet of talking to people about PartKeepr at the moment (in terms of activity).

[2020-02-15 01:41] Drachenkaetzchen commented on #1066
The reason I had to remove the functionality is documented here: https://github.com/partkeepr/PartKeepr/issues/622

If you feel you have been kicked in the teeth I'm sorry, but that's the way it was back then.

[2020-02-15 01:47] Drachenkaetzchen commented on #1066
Also, I fucking spend most of my daily time writing this software. please fucking understand that if I have to remove code to make a newer version then for fucks sake so be it. you could have created another PR to make it compatible with the new version

yes, I'm fucking angry right now. I spent so many years writing the code for free, did the majority of the work, did lots of support work, tried

[2020-02-15 07:59] christianlupus commented on #1071
Just a small question at @Drachenkaetzchen and @dromer. Where would we put such files? Some repos I have seen use a subfolder, other use a complete own repo for all sort of CI/CD. What would be your preference for partkeepr? Maybe I can do something here but I want to avoid make the work twice.

[2020-02-15 08:54] Boldie commented on #1083
Is it really medium? I think it refers to #1065 but in my opinion we should not make an upgrade to 3, because it is already unmaintained and outdated.

[2020-02-15 09:00] Boldie commented on #1066
I know you are in a serious situation and this project including the community has a contribution to your situation. I also respect your work and I also thing this project (especially in comparison to others) has a well done structure, otherwise I would not try to brain what I can do to revitalize this project and how to get a development team ready for doing the necessary work.
I do not want to w

[2020-02-15 09:04] christianlupus commented on #1083
The thing is that we are on 2. We might get on 3 on order that the tutorials in the link are of help. These start at 3. So we need to go to 3 and then to 4 as far as I see it. As soon as we are ready to get it, we will march foreward I hope.

[2020-02-15 09:05] christianlupus commented on #1083
Regarding the upgrade documentation there is something I just found [here](https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md). Just for reference.

[2020-02-15 09:10] Boldie commented on #1083
Urgs, another long list of stuff what one has to do. I also read there are some ways forth and back if one will look from 2 to 4, so maybe it is more favourable to directly upgrade to 4. I will try to read this if I have some time the next days and hopefully I will get a better insight of the needed actions.
I love "fancy" frameworks changing everything from one version to the next :)

[2020-02-15 09:48] christianlupus commented on #1083
Well if you are willing to share the 2->4 version guide, I would be grateful. This would allow us all to look over things...

You should read [this](https://en.wikipedia.org/wiki/Software_versioning#Change_significance) or [this](https://semver.org/) on semantic versions. If a major number changes, this means a potential redesign of the whole API. So your request 2->4 is in fact 2 times a redesign

[2020-02-15 10:00] dromer commented on #1071
I agree with @shafr that a simple docker and/or docker-compose file should be enough to get going.

However it is important that there is a volume mounted for any assets and cache that partkeepr needs. Usually everything is self-contained with docker, but in this case a mounted volume is quite necessary.

[2020-02-15 10:01] dromer commented on #1071
@christianlupus I think a dockerfile in the root should be fine. Unless it becomes a 'collection' of files then a subdir to keep it a bit neater.

[2020-02-15 10:05] baradhili commented on #1066
Thanks @Boldie

[2020-02-15 10:06] baradhili commented on #1083
@christianlupus not really.. I think Symfony follows the "if its even its a release" rule... eitehr way - upgrading teh underlying framework can be a real pain.. I was thankful that Laravel made 5->6 easy

[2020-02-15 10:14] dromer commented on #1070
Thnx, for now we can at least use travis again. Of course this tests should get fixed at some point ;)

[2020-02-15 10:14] #1070 closed

[2020-02-15 10:21] dromer commented on #1083
I agree we should get the current bugfix-PRs merged first, then focus on the symfony upgrade.

The upgrade-path is less important than reaching a version that has long-term support I think, although API changes of course should be noted.
At the moment the LTS is 4.4.x which should get updates till 2023: https://symfony.com/releases
But getting to 3.4.x would already be a fantastic milestone, consi

[2020-02-16 13:38] christianlupus commented on #1083
I consider a good debug environment essential for such a huge modification. Thus, I will try to get #1071 ready as soon as possible. I have still to think of some details. With that experimenting around should be much easier.

Sorry, I assumed ther versioning scheme was the typical semantic one. This was my fault.

[2020-02-17 11:57] dromer commented on #1083
@baradhili I'm pretty sure they use semantic versioning like @christianlupus said.

Also found this guide which may be useful: https://symfony.com/doc/current/setup/upgrade_major.html

I think incremental upgrades (first to 3.4.x and then to 4.4.x) would be recommended as at each stage some features are deprecated.

[2020-02-17 13:08] christianlupus commented on #1083
There is some useful information at the ending in [this](https://symfony.com/doc/current/contributing/community/releases.html) document.

[2020-02-17 13:17] christianlupus opened #1084 "Warning regarding APC caching during setup"
During the setup there is a chek and a warning regarding APC caching not present. Since PHP7 the APC caching has been replaced by APCu. In the setup there is a check for the no longer maintained APC module. The APCu (as a replacement) seems not checked.

This could either be an issue of the outdated symfony framework (if the dependency was introduced there) or somewhere in the PK code. After the s

[2020-02-18 08:37] christianlupus opened #1086 "Automatic dependency tracking"
To avoid to get into the same problem again as we are in now: I suggest that a autoamted dependency tracking is installed. Something like one of these:
* [Composer (php-actions) · Actions · GitHub Marketplace](https://github.com/marketplace/actions/composer-php-actions "Composer (php-actions) · Actions · GitHub Marketplace")
* [Renovate · GitHub Marketplace](https://github.com/marketplace/renovate

[2020-02-20 08:26] shafr commented on #1071
Well using docker image for composer:1.9.3 causes issues with packages:
[code]

I'm not sure how `php composer` package system works, but when I tried adding manually missing packages, it had no effect.

Seems like that OS packages are missing. Most likely the best way to do installation is to use Ubuntu image, then install missing packages:
[code]

and use it as builder.

[2020-02-20 08:49] christianlupus commented on #1071
At the moment I am working on a patch in [my personal fork](https://github.com/christianlupus/PartKeepr). Yesterday I successfully installed it but found that the GitHub Packages docker system does not provide anonymous access to public packages (See [this discussion](https://github.community/t5/GitHub-Actions/docker-pull-from-public-GitHub-Package-Registry-fail-with-quot/td-p/32782)). So I need t

[2020-02-20 11:20] er1z commented on #1083
There's always a help of Rector with upgrades. You don't have to manage everything.

[2020-02-20 12:31] dromer commented on #1083
@er1z do you mean https://github.com/rectorphp/rector ?

I would feel much more comfortable if someone is be able to debug such automagic :#

It sounds a bit dangerous to me. I don't know what the current coverage of the builds are since that part of the travis-ci seems to be missing some configs.

The promises on the project page are very enticing though ;)

[2020-02-20 13:50] christianlupus commented on #1071
I managed to get "something" running. As soon as I commit something to my `master` branch or add any tag, a new build is triggered. This time I use dockerhub as it allows everyone to download the generated images without any credentials.

@dromer Do you prefer to have a clean history in a potential PR or are you going to squash anyways? Otherwise I have to rework my branch history :smirk:.

[2020-02-20 14:42] dromer commented on #1071
Depending on the amount of lines we can squash it (if it's just a concise config or 2 that would be fine).
Separate Dockerfile.yml and docker-compose.yml would be nice.

[2020-02-20 15:34] christianlupus commented on #1071
I opened PR #1088. However, I need #1085, which is thus a subset of #1088.

You might want to have a look at the PR and tell me if you are willing to squash or if I should rework the history.

[2020-02-21 08:34] allali opened #1090 "issue in webcam js support in Chrome"
[comment]: # (Hi and thanks for an issue. In order to help you best, please fill out the following information.)

# System Information

* PartKeepr Version:
1.4.0
* Google Chome version (ubuntu client):
Version 80.0.3987.106 (Official Build) (64-bit)
* Reproducible on the demo system: Yes/No.
* [JavaScript errors](http://wiki.partkeepr.org/wiki/Issues/Opening_the_JavaScript_Console):

Please attac

[2020-02-21 09:36] christianlupus commented on #1090
This is already known in #1002 (Firefox) and a PR #1076 is also present.

[2020-02-21 09:38] baradhili commented on #1090
duplicate #1002

[2020-02-21 09:38] #1090 closed

[2020-02-21 14:19] shafr commented on #1071
No squash is needed - rather use [multi-stage builds](https://docs.docker.com/develop/develop-images/multistage-build/)

[2020-02-21 16:17] dromer commented on #1071
@shafr we where talking about git commits. and also I don't see how multi-stage Dockerfile is relevant here.

[2020-02-22 17:31] christianlupus opened #1092 "Discussion: Migration to a offline code checker or better not?"
In #1048 the discussion started, if it was somehow possible to check the code style offline. This would speed up the development process: in case of online checks, the potential error-prone code needs to be checked in, causing errors by StyleCI. Then a refactor cycle can be done and the corrected code (force-) pushed.
All in all not best from the perspective of potential contributors.

I tried out

[2020-02-22 17:37] er1z commented on #1083
Yeah but it'll decrease amount of manual work to be done. This is a well-known tool created by an experienced developer.

[2020-02-22 18:47] Gasman2014 commented on #1092
I am not really the best person to comment - I only identified that PHP_CodeSniffer existed and it looked as though it might be able to address the styling issues that had previously been identified.
I have never used it nor have I done any meaningful PHP development. I agree that a workflow which causes least friction for likely contributors makes most sense with two major considerations.

1. How

[2020-02-23 12:26] christianlupus opened #1093 "Offline unit testing"
Similarly to #1092: There is at the moment no easy way to do automatic code checking, aka uni testing offline. This might be useful for any contributor to check before committing and pushing.

Issue #1071 and PR #1088 are a first step bit there need to be some scripts or the like to integrate and simulate the bahavior of travis. (Maybe it would even be better to adopt travis to the offline test so

[2020-02-23 12:29] christianlupus opened #1094 "Enable code coverage checking"
According to [this comment](https://github.com/partkeepr/PartKeepr/issues/1083#issuecomment-588998280) we do not have working code coverage in place. @dromer can you confirm this?

We should get this running to see if tests are missing, also for future PRs.

[2020-02-23 16:51] dromer commented on #1094
I just added codecov support.

[2020-02-23 16:51] #1094 closed

[2020-02-24 04:00] baradhili commented on #1066
@christianlupus @dromer  I'm thinking we can close this one now that things are moving again...!

[2020-02-24 08:10] christianlupus commented on #1066
One more point to discuss: Due to the changes in #1091 all the new issues will have some tags attached. Do we want to have an indicator that no human review has been taken place here?

Apart from this I am OK with closing this issue now.

[2020-02-24 08:14] christianlupus commented on #1083
Increasing priority as this seems to be the most pressing issue according also to other disussions here.

[2020-02-24 08:51] dromer commented on #1083
I'm trying to test rector on my local machine (with php7.3), not much luck yet.

I'm still not convinced this will be 100% safe to do, but perhaps to make some of the incremental migrations it will at least give some insight into what needs to happen.

[2020-02-24 09:53] baradhili commented on #1066
how is what we have done different to a human review? :)

[2020-02-24 12:06] christianlupus commented on #1066
@baradhili this is exactly what we did recently. I mean the following: since the named PR was accepted, any new issues will have either Bug, Feature Request or help-wanted preset as label depending on the type of issue selected.
That means that new issues (that have not passed manual triage that we did recently) will not present themselves as having no labels attached. So, there is no simple filte

[2020-02-24 12:07] christianlupus commented on #1066
So in short: do we want a `need-triage` or similar to indicate.

[2020-02-24 18:58] ulfwin commented on #918
I think this issue is still there. I cannot find the stock level in the "Mapping" window (also not in demo page). I would expect to see the same as the last picture in this ticket, but it's simply missing: #883

[2020-02-24 23:38] baradhili commented on #1066
can we automatically add the `needs-triage` label under github's template system?

[2020-02-25 07:31] christianlupus commented on #1066
Yes, it is a matter of adding the label and changing one line in the template file. That should suffice.

[2020-02-25 10:07] er1z commented on #1083
Yeah, but any help to decrease amount of work in order to upgrade is worth trying. No one guaranteed that it will be fully automatic. ;)

But yeah, going straight to 4.x will be better than jumping over 3.x. It's possible to just port most of the functionality without complete rewrite of whole application.

[2020-02-25 12:08] christianlupus commented on #918
Can you verify this on the latest git branch? There are some changes that did not make it yet to the demo page.

[2020-02-25 14:51] christianlupus commented on #1025
No answer since more than a month. Closing.

[2020-02-25 14:51] #1025 closed

[2020-02-25 14:55] christianlupus commented on #996
I close this as it seems to be solved in `master` and no other information was provided.

[2020-02-25 14:55] #996 closed

[2020-02-26 18:25] ulfwin commented on #918
Thanks for fast response!

Do you mean I should install the latest version somewhere separately and try it out? I'm afraid I will not be able to do that, sorry...

The best I can do is give exact instructions on how to reproduce, and hope someone who has it installed can do it. It's super simple:
1. press the import button
2. Search in the "Mapping" part of the window after an entry called "partPa

[2020-02-26 20:30] christianlupus commented on #1066
I just opened #1097 regarding the issue templating system. If the `needs-triage` label is not wanted, I suggest removing the single commit.

[2020-02-28 17:57] ericmoon commented on #1086
Just to add another option - I've had good experience with [Dependabot - GitHub Marketplace](https://github.com/marketplace/dependabot-preview) on other projects.

[2020-02-28 21:18] stilmon opened #1100 "Cant save column"
[comment]: # (Hi and thanks for an issue. In order to help you best, please fill out the following information.)

# Bug description

[comment]: # (A clear and concise description of what the bug is.)

when i customize a columnn and apply it. it only stays working until i logoff and log on. then column resets

## Steps to reproduce

1. Go to configure columns
2. hid some columns from view
3. clicke

[2020-02-29 11:17] christianlupus commented on #1100
@stilmon Please fill out the full bug report. The system information and javascript logs are empty. You can easily edit the first post.

[2020-02-29 17:58] stilmon commented on #1100
updated information

[2020-03-01 04:49] baradhili commented on #1066
closing this now

[2020-03-01 04:49] #1066 closed

[2020-03-01 04:51] baradhili commented on #863
duplicate of #1100  closing this one as 1100 has more details

[2020-03-01 04:51] #863 closed

[2020-03-01 04:53] baradhili commented on #921
duplicate of #1100

[2020-03-01 04:54] baradhili commented on #898
linked to #1100

[2020-03-01 04:55] baradhili commented on #860
linked to #1100

[2020-03-01 04:55] baradhili commented on #777
linked to #1100

[2020-03-01 04:55] baradhili commented on #631
Linked to #1100

[2020-03-01 04:56] baradhili commented on #434
Linked to #1100

[2020-03-01 04:57] baradhili commented on #1100
This seems to be linked to a bucket of issues in the past.. From first glance it looks like making it possible to permanently save a column layout would close a bunch of tickets - so marking this as a good first issue and medium priority

[2020-03-02 13:29] christianlupus commented on #1071
@Drachenkaetzchen To have a more detailed docker image, I'd like to add quite some testing data there. Would you be ok, if we added the test data from the demo page there? Of course, we would remove your personal account from the SQL dump to avoid any leaking of password hashes and replace it by something general (that can be published).

[2020-03-02 13:33] christianlupus commented on #825
This should have been closed by [this commit](https://github.com/partkeepr/PartKeepr/commit/81809e68b275d23e79026cb07d7772eeb8c79386) already.

[2020-03-02 13:33] #825 closed

[2020-03-02 13:36] christianlupus commented on #636
To reduce the stress here, I will remove the label and make this issue non-stale.

[2020-03-02 14:28] Drachenkaetzchen commented on #1071
The demo site is already cleaned out of personal data I think. Do you have access to the dump?

[2020-03-02 15:14] dromer commented on #1065
@baradhili I'm not sure why you added the ```good first issue``` tag here as it is meant for first-time contributors as "low hanging fruit".

In this case this particular issue needs some serious experience and commitment, not at all suitable for first-time contributors.

[2020-03-02 15:31] christianlupus commented on #1071
Unfortunately neither to the SQL dump nor to a file system dump of the `data` folder. Otherwise, I would have added these as example data in the docker PR. Are these large? Maybe you can send me the dumps? If required, I can send you a link to my personal NextCloud instance so no big mails need to be sent around.

[2020-03-02 18:12] Drachenkaetzchen commented on #1071
Here are the sql dump and the data files: https://cloud.drachenkatze.org/index.php/s/6WJWp9t9qRqwzrx

[2020-03-03 00:43] baradhili commented on #1065
@dromer  - it can change :).. I was coming from a laravel standpoint where an upgrade to a new version is not too horrific and some people are really good at it..

[2020-03-03 08:24] christianlupus commented on #1071
Thank you, I downloaded the files. Are you keeping the link open in the future? Otherwise you can close it now.

[2020-03-03 11:07] christianlupus commented on #918
OK, I just tested this using the current development branch and the named option is not present.

I do not know if this is purely a frontend issue or has some more serious background. Anyways, I will remove the `Will be closed soon!` label to avoid unintended closing.

[2020-03-03 18:10] Drachenkaetzchen commented on #1071
No, I don't have a huge amount of disk space so I'll remove it now.

[2020-03-04 13:18] ulfwin commented on #918
Found a work-around!! It seems if I click on any part, wait for the part details to show up, and then press the import button, all the options appear.

[2020-03-06 05:37] sandlin6 opened #1102 "Trying to access array offset on value of type null"
When trying to install in the testing web server setting I get the error below. Im not the best at this type of stuff, just trying to improve efficiency at work. Any help is appreciated. Sorry if you need more info. Let me know what you need.

Notice: Trying to access array offset on value of type null in C:\xampp\htdocs\dashboard\ent\PartKeepr\src\PartKeepr\SetupBundle/Controller/ExistingUserSetu

[2020-03-08 20:24] ulfwin commented on #918
Sadly the workaround didn't help.. I set the folder "partPartKeeprStockBundleEntityStockEntries" to "Create new item" and choose to copy contents from one of the csv columns at the "stockLevel" parameter, but all stock values stays at 0 after execution...

[2020-03-09 16:30] CurtisFeatures opened #1103 "Webserver Rewrite"
I know that PartKeepr isn't supported on Windows but I wonder if anyone has successfully got this going in IIS - It pains me to setup a linux server to run this when I already have a web server running loads more PHP webs.

Im getting a error on the checks for Webserver Rewrite.

![Screenshot 2020-03-09 at 16 28 06](https://user-images.githubusercontent.com/34516049/76235540-24dc0d80-6223-11ea-870

[2020-03-10 08:45] christianlupus commented on #918
For me this sounds like a bug (that the folder is shown at all) plus a feature request (that it should be possible to import the stock entry). I'll add a tag for it.

[2020-03-10 08:50] christianlupus commented on #1102
OK, I first ask a few questions, maybe we get there.

- You seem to run apache, right? Which version (not so critical)?
- What is your PHP version?
- What DB system are you using? MariaDB or MySQL? Version?
- The error happens during the setup routine, right? It did never run before, am I correct?
- Which version of PartKeepr are you trying to install? Release or source code checked out from githu

[2020-03-10 20:27] sandlin6 commented on #1102
Apache: 2.4.41
PHP: 7.4.1
MySQL
I have never been able to get past the first page in the setup. Always has some error.
I have tried to install 1.4.0 from the website and the latest from github.

[2020-03-11 10:29] christianlupus commented on #1102
You might be hit by the outdated symfony dependency. See #905. Can you downgrade to PHP 7.1 or earlier?

[2020-03-11 10:33] christianlupus commented on #1103
I think I have seen people using Windows yet. I do not know which web server, could be only Apache.

I keep it open for discussion here but I don't think it will get much traction to be honest.

In Apache you need rewriting rules on place to make it work. Did you cover these rules in htaccess to the corresponding ones for IIS?

[2020-03-11 11:33] yukihaihai opened #1104 "Authentication Key is wrong ?"
Every Configuration is right and i cant find anything, either in logs or in the webconsole WHY it wouldnt work. Every time when I retrieve the key it just say that the Key is invalid..

Any thoughts why ? Or maybe a Solution?

PHP7.4 => Everything installed besides php-dom

Apache2 => followed the configuration again as on the wiki

Using Debian 10 Buster

[2020-03-11 11:52] christianlupus commented on #1104
A side remark: You will run into issues with PHP > 7.1. There is a dependency not yet updated (see #905).

Just to make things clear: You open the setup page, proceed to the point where the key is requested, then you download/look at the key file in the server and use the string provided there as a key, right? No other order of actions.

[2020-03-11 11:52] yukihaihai commented on #1104
Yes thats right.

[2020-03-11 11:56] yukihaihai commented on #1104
![Screenshot_1](https://user-images.githubusercontent.com/59184951/76414452-9f2d9e80-6397-11ea-8d5e-7d6bbfc0e1cc.png)
![Screenshot_2](https://user-images.githubusercontent.com/59184951/76414454-9fc63500-6397-11ea-9ac2-c5dbbd19252e.png)

So as you can see, everything is right but only the key is wrong even though it just generated

[2020-03-11 12:09] christianlupus commented on #1104
Your PHP version *will* cause problems later. It is simply not checked/reported. There is a PR #1099.

Are you running in Windows or Linux? In the latter case, you might want to look at docker as this allows to simply switch the various versions of software involved. Sorry, I cannot help you more for now.
I could install a development container with PHP7.4 but this will fail at another stage later

[2020-03-11 12:12] yukihaihai commented on #1104
Im using linux => Debian 10 "Buster". So probably the easiest way would be to kick 7.4 and use 5.0 ?

[2020-03-11 12:25] christianlupus commented on #833
This is still reproducible on the demo page. There are other issues with the frontend that might hide part of the problem but the main issue seems to be present.

[2020-03-11 12:25] christianlupus commented on #1104
If this is an option, it would be worth a try.

[2020-03-11 13:39] yukihaihai commented on #1104
So i rerun the steps with php5.6 installed, and it worked out of the box apparently..

Well, thanks for your help

[2020-03-11 15:22] christianlupus commented on #1104
OK, good to hear. I will close here thus.

[2020-03-11 15:22] #1104 closed

[2020-03-11 20:58] sandlin6 commented on #1102
Sadly I need to be on at least 7.3 for another part of the site.

[2020-03-11 20:58] #1102 closed

[2020-03-14 11:22] christianlupus opened #1106 "Mobile frontend: The burger menu does not do anything"
[comment]: # (Hi and thanks for an issue. In order to help you best, please fill out the following information.)

# Bug description

When visiting the mobile version of PK, there is a *hamburger menu*:
![Screenshot_2020-03-14 PartKeepr](https://user-images.githubusercontent.com/8202922/76680912-5f5ff480-65ed-11ea-98cd-c5d89efdf50e.png)

When clicking on the menu point nothing seems to happen.

##

[2020-03-17 12:51] dromer commented on #1106
I'm not sure if the mobile UI has any real features yet.
The hamburger icon could very well be a placeholder where a future menu would go.

[2020-03-22 20:44] smcpeck commented on #811
My nginx reverse proxy had a default timeout of 60 seconds, so this was tripping me up.  I'm not exactly sold that this is a PartKeepr issue, though.  Really looks like a proxy configuration issue.

Addressing the proper proxy timeout values fixed things for me.

Reference: https://www.smashinglab.com/fix-504-gateway-time-nginx/

[2020-03-23 17:49] ely-az commented on #960
Not sure what happened but my work around no longer works. I get zero results from the search engine now? I haven't looked into it much. For now we are using the filter at the bottom which still works fine.  I am on GIT dev commit 8a6380e. I see there is a newer commit so will try that out and report back.

[2020-03-27 17:25] PranavS625 opened #1107 "Time Zone error & Curl error"
Using Ubuntu Server 18 & have installed Partkeepr 1.2.0 version.
I have installed following files - curl ntp mysql-server mysql-client php7.0 php7.0-apcu php7.0-apcu-bc php7.0-curl php7.0-gd php7.0-intl php7.0-ldap php7.0-mysql php7.0-dom php7.0-xml & apache2 apache2-doc

*problem* - while configuring - under prerequisites - Testing for correct PHP Settings I am getting two errors -
1) Date.timezo

[2020-03-30 09:27] christianlupus commented on #1107
OK, just out of curiosity why do you did not go with the latest version?

OK, support for curl is there since version 0.76. The check since then was only modified minimally. Are you sure, curl is enabled in PHP not only installed?

Regarding the timezone setting: This is a Symfony requirement (a dependency from PartKeepr). I cannot tell you much where it was introduced. However, this should be set

[2020-04-01 18:47] ashcoft opened #1110 "setup error"
error on setup:
Notice: Trying to access array offset on value of type null in /var/www/html/ims_havo_work/src/PartKeepr/SetupBundle/Controller/ExistingUserSetupController.php (which is being imported from "/var/www/html/ims_havo_work/src/PartKeepr/SetupBundle/Resources/config/routing.yml").
500Internal Server Error -FileLoaderLoadException
1 linked Exception:
•	ContextErrorException »

[2/2]FileL

[2020-04-02 06:13] christianlupus commented on #1110
I most probably am sure that you have a PHP version too new. What version are you using? There is an incompatibility of the dependency symfony with any PHP version newer than 7.1. This causes similar errors.

[2020-04-02 06:35] ashcoft commented on #1110
Thank you very much for your answer.
my php version is 7.4

[2020-04-02 06:44] christianlupus commented on #1110
Then this is clearly the issue here. We are working to update the named dependency to a current version. This should render PartKeepr compatible with newer PHP versions. But for the time beeing, we are fixed to PHP 7.1 as maximal version.

What server are you running PK on? Is it a linux machine you have root rights and some spare place?

[2020-04-02 07:01] ashcoft commented on #1110
Operating system | CentOS Linux 7.7.1908

Kernel and CPU | Linux 3.10.0-1062.18.1.el7.x86_64 on x86_64

yes, of course, I've root right and SSD 1TB space

[2020-04-02 07:10] christianlupus commented on #1110
I was unsure if you are using a hosting platform (aka only PHP and an HTTP server) or a real root server.

In this case, I'd advice you to base your setup upon docker. This way, you can use an older version of PHP with your current setup without downgrading to an outdated major OS version. We are working to get an image generated from this repository directly (#1088). This might take some time unt

[2020-04-03 07:39] ashcoft commented on #1110
Thank in advance, Chrish.

[2020-04-03 07:49] christianlupus commented on #1110
I will close this issue now. If there is still some problem open, just comment, I will reopen.

[2020-04-03 07:49] #1110 closed

[2020-04-08 10:42] athulram commented on #1053
I'm facing the same issue, where I have set the `stockLevel` item to the option `Copy contents from` radio button but the same is not updated in preview and is not imported.
Partkeepr version: 1.4.0

[2020-04-11 10:15] bullyland opened #1111 "partkeeper / "parts without stock removals""
parts without stock removals - filter is not working for me.
even in the demo it isn't working? anybody can help? thanks

[2020-04-11 13:36] christianlupus commented on #1111
Dear @bullyland, unfortunately, it is unclear to me what your exact problem is.

Please provide the following information:
- What are you trying to do?
- How are you assuming this should work?
- What is happening?
- What do you expect of happening?

If you need a screenshot to explain your problem, you can add them here (use the demo page if you fear confidential information to be leaking).

All I

[2020-04-11 13:38] bullyland commented on #1111
hi!

thanks for your answer. i mean if i use this filter > nothing happend....
you can also try on the demo site. i think it must show me unused
parts or parts without removal? but it show me always all parts.

[2020-04-11 14:06] christianlupus commented on #1111
Which filter? Sorry, this is still no useful information.

Please provide a complete step-by-step process to show what is going wrong.

My last guess is you are referring to the stock level filter. See this screenshot:
![GitHub PartKeepr Issue 1111_1](https://user-images.githubusercontent.com/8202922/79045815-6d655d00-7c0d-11ea-930b-40f5a264d984.gif)

So, please, take your time, write in complete

[2020-04-11 15:13] bullyland commented on #1111
thanks again, no i mean this Filter:
![image](https://user-images.githubusercontent.com/63493154/79047565-1917a880-7c20-11ea-93da-5dab84b54862.png)

[2020-04-11 15:15] bullyland commented on #1111
this "marked"filter: (over the "apply"button)

"Show Parts without stock removals only

he isn't working. not on my installation, not on the demo site.
and sorry for my bad english. best regards, i hope you can help...

[2020-04-11 15:46] christianlupus commented on #1111
OK, now we are getting closer.

I tried it. It seems to work for me on the demo page. The `LM394H` is a device that had some removal in the past. You see it in the stock view of the part.
When I enable the filter you describe, the named part is hidden (as intended). I tried several other parts that are still visible. All these seem to be just created and added some stock. However, there was never

[2020-04-11 15:55] christianlupus commented on #1111
OK, I just found your problem. This seems to be a bug in the Backend. I will open a new bug soon with all relevant information.

[2020-04-11 16:04] bullyland commented on #1111
ok, thanks. how i will get to know if the problem is solved?

[2020-04-11 16:09] bullyland commented on #1111
and one more question: how can i change the format of the time, you can see it on the part details
window on the right site of the screenshot. is very long and i want to change this, is this possible?

best regards

[2020-04-11 16:09] christianlupus commented on #1111
I assume this will take some time. See #1056.
We try to get this project running again, but I cannot promise you anything.

[2020-04-11 16:11] christianlupus commented on #1111
It is not yet possible as far as I know. This is a new feature request.

[2020-04-11 16:25] christianlupus opened #1112 "Filtering for parts without stock removal is not working"
[comment]: # (Hi and thanks for an issue. In order to help you best, please fill out the following information.)

# Bug description

In the part list you can add filters. one of these filters is called `Show Parts without stock removals only`. This filter does not work with newly removed stock.

## Steps to reproduce

1. Go to the part list.
1. Select a part that has not yet any removal seen. Add

[2020-04-11 16:29] christianlupus opened #1113 "Negative stock levels are possible"
[comment]: # (Hi and thanks for an issue. In order to help you best, please fill out the following information.)

# Bug description

There is no logic that prevents a user from reducing the stock level beyond zero.

[comment]: # (A clear and concise description of what the bug is.)

[comment]: # (A good description of an issue would be: When I click the button "Add Part" in the "Parts List", then

[2020-04-11 16:33] christianlupus opened #1114 "Selection of date format"
[comment]: # (Thanks for reporting a missing feature. Depending on the manpower at hand your feature might take some time until it is implemented. Please stay tuned)

[comment]: # (Alternatively you are welcome to supply a pull request of any feature implementation. We will try to help you with the integration.)

# Feature description

The format of dates in the part details is a relatively long f

[2020-04-11 16:34] christianlupus commented on #1111
I opened the two issues mentioned above which cover your problem hopefully. If there is something missing please leave me a note.

Otherwise I will close this issue now.

[2020-04-11 16:34] #1111 closed

[2020-04-12 04:02] bullyland commented on #1111
thank you

[2020-04-12 18:21] christianlupus commented on #1083
@er1z do you have experience with rector? I tried it today but without much success. If you had experience with it, it would be awsome, if you could have a look and give us a hint in the right direction...

[2020-04-13 05:25] bullyland commented on #1111
hi again, i see there is nobody helping here:)?

[2020-04-13 09:53] christianlupus commented on #1111
Hello @bullyland. What are you talking about? You had a set of issues reported. To get things sorted out, I split it into the various topics and opened following issues.

What are you expecting exactly?

[2020-04-13 15:02] matthijskooijman commented on #1020
@christianlupus, you closed this as a duplicate of #1065, which talks about the monolog-bundle package being out of date, but I can't quite see how this particular warning about `continue` is related to the monolog-bundle package?

I found a backtrace for the actual error (by adding `debug_print_backtrace(DEBUG_BACKTRACE_IGNORE_ARGS);` in the `ContextErrorException` constructor, there were probabl

[2020-04-13 16:54] bullyland commented on #1111
why it is impossible to change the time format.... i work on all codes for 2 days.... i don't understand this? i think the format must be changable ? do you have any idea? maybe in mysql ?

[2020-04-14 11:06] christianlupus commented on #1111
Simply because no one yet addressed the issue. There are a ton of other issues to be addressed and these are considered more important, especially because some are security relevant.

Definitively not in MySQL.

The dates are transferred from the backend in form of JSON data to the frontend in condensed form. It took me about 5 minutes to check this and to find [this](https://github.com/partkeepr/

[2020-04-14 11:15] christianlupus commented on #1020
I hope you are having a backup of your data... Otherwise now would be a very good point in time to think of such things as backups.

The problem is that we are completely outdated and it does not make sense to update a single dependency. In fact, this is our most pressing issue at the moment. Unfortunately, there is no easy way to do this magically. but we are on our way.

What message did you get

[2020-04-14 12:31] matthijskooijman commented on #1020
Yeah, I guess. Wanted to share my experience in case it was useful, but probably is not :-P

I think it was a friendly message, but I don't recall exactly. I'll keep that variable in mind, but won't be trying this again (since, as you said, it's probably not going to be sufficient anyway).

[2020-04-14 13:39] fenugrec opened #1116 "UI: 'Edit Part' dialog window broken after certain edits"
## Bug description

Hi, after editing the comment field of a "Stock History" entry, I can no longer edit parts because the dialog window is corrupted, missing a lot of UI elements. Apologies if this is a dupe, I didn't find similar issues with keywords "window" or "dialog". Well maybe #706 which was closed a while ago.

## Steps to reproduce

1. open partkeepr demo site
1. browse to any category,

[2020-04-14 13:49] bullyland commented on #1111
ok, thanks!

[2020-04-19 11:17] christianlupus opened #1117 "Creation of a clear API specification"
[comment]: # (Thanks for reporting a missing feature. Depending on the manpower at hand your feature might take some time until it is implemented. Please stay tuned)

[comment]: # (Alternatively you are welcome to supply a pull request of any feature implementation. We will try to help you with the integration.)

# Feature description

[comment]: # (Please describe clearly what feature you would l

[2020-04-19 11:20] christianlupus commented on #1117
@dromer @baradhili I did not remove the *needs-triage* tag and added a *Must Have* tag as this seems a personal opinion about the importance of the feature request. If you are ok with it, please adopt the tags accordingly.

[2020-04-19 12:09] dromer commented on #1117
I am not familiar with OpenAPI specifically. Mostly general REST concepts (and most cases that I've had to build something it ended up needing a lot of customization, so lets say `REST-like`).

However, there is documentation on the API, it's just not very human readable. You can find it on `/api/doc` on any PK install.
Ie.: https://demo.partkeepr.org/api/apidoc

So the current API is built using

[2020-04-19 14:46] christianlupus commented on #1117
First of all, OpenAPI is a specification on APIs. So in fact, there is a multitude of tools available for different purposes.

You might get the basic idea of such a definition in [this example](https://editor.swagger.io/#) which also represents an editor for such APIs. You see it is a mixture of documentation (with human-readable descriptions, error messages and the like) with development tools.

[2020-04-19 15:06] christianlupus opened #1118 "Documentation of dependencies"
[comment]: # (Thanks for reporting a missing feature. Depending on the manpower at hand your feature might take some time until it is implemented. Please stay tuned)

[comment]: # (Alternatively you are welcome to supply a pull request of any feature implementation. We will try to help you with the integration.)

# Feature description

[comment]: # (Please describe clearly what feature you would l

[2020-04-19 15:09] dromer commented on #1117
The only 'docs' I can find is: https://wiki.partkeepr.org/wiki/Developers/API
#1007 is indeed a good indication of the current state.

To be more specific, we currently use: https://packagist.org/packages/dunglas/api-bundle
This package is deprecated and the only suggestion is to use: https://packagist.org/packages/api-platform/api-pack

I have no idea how compatible this library is to the former.

[2020-04-20 20:10] ARNBender commented on #883
We can confirm that this remains an issue using:

Git Revision: 426f6428

And PHP: 7.4.3
Doctrine DBAL 2.5.2
Doctrine ORM 2.5.4

Running on archlinux and nginx

[2020-04-23 22:57] jaimelaborda opened #1119 "Default columns preset"
[comment]: # (Thanks for reporting a missing feature. Depending on the manpower at hand your feature might take some time until it is implemented. Please stay tuned)

[comment]: # (Alternatively you are welcome to supply a pull request of any feature implementation. We will try to help you with the integration.)

# Feature description

[comment]: # (Please describe clearly what feature you would l

[2020-04-24 15:34] G-Pereira opened #1120 "Edit Part not scroll-able"
# Bug description

Edit part "window" is not scroll-able, so it is an issue with low resolution screens. However in a 1080p (today's standard) screen it's not handy to resize the window to access content.

## Steps to reproduce

1. Double click on a part
2. Try to scroll

![Screenshot from 2020-04-24 16-29-13](https://user-images.githubusercontent.com/15521303/80230090-5715c300-8649-11ea-80de-def6

[2020-04-25 08:39] G-Pereira commented on #1083
Amazing work this is!
When this is ready will it be possible to upgrade existing installations?
I am worried about compatibility and I am wondering if I should wait for this to be ready before starting to register my components.
By the way? Is there any docker file I can use?

[2020-04-25 13:34] christianlupus commented on #883
@ARNBender thank you for checking this for us.

Nevertheless, I am asking myself: How did you get PartKeepr run under 7.4? Did you patch things somehow? There are quite some issues here that show problems with PHP > 7.1 and MariaDB > 10.2. Archlinux has more recent packages on board. Thus I am asking what you did, this might help to sort out other things.

[2020-04-25 13:40] christianlupus commented on #1120
This is only relevant for a non-classical theme. The classical theme should not have this problem.

However it might be a bug in the frontend. Thus I keep it here.

[2020-04-25 13:44] christianlupus commented on #1083
We are working to keep things either compatible or automatically upgradeable. We are not the only project that might need a facelift from time to time.
As the upgrade process might take quite some time, I would personally rather not wait if you find your time at the moment.

We are working on something, see #1088. However, this is still under work and review thus I cannot give you a definitive ans

[2020-04-25 22:29] JustinEldracher commented on #1103
I got it to work on Apache on Windows 10, went pretty smoothly once I got the right versions of all the dependencies installed.  No idea about IIS though.

[2020-04-27 15:26] G-Pereira commented on #1083
@christianlupus That is useful information, thanks!

[2020-04-28 09:16] #1107 closed

[2020-04-28 18:22] jaimelaborda commented on #855
Hi,
Regarding this topic, I'm having problems to do some imports. Particularly I'm having some problems when trying to import parts with a Distributor or Manufacturer. Maybe I'm doing something wrong but I cannot manage to properly import Manufacturer or/and Distributor.

This is the .CSV file I'm trying to import:
[code]
There are two components.

This is the steps I have follow (in demo.partkeep

[2020-05-08 10:54] jaimelaborda commented on #1053
Same error here. Any updates?

[2020-05-08 15:35] christianlupus commented on #1053
Unfortunately no, no commits have been done recently.

[2020-05-13 22:34] G-Pereira opened #1121 "Add a pdf url as a part attachment freezes UI"
# Bug description

Adding a pdf url as a part attachment fails. Example url: https://www.ti.com/lit/ds/symlink/tps566235.pdf

## Steps to reproduce

1. Create/Edit part
2. Add a new attachment
3. Choose URL way and use any pdf url
4. click OK

## Expected Behaviour

Window disappears and the pdf is added to the attachment list

## Current Behaviour

Nothing happens after clicking OK.

## System In

[2020-05-14 15:45] christianlupus commented on #1121
I can confirm this issue. There is a timeout issue during the post request:
![Screenshot_20200514_174327](https://user-images.githubusercontent.com/8202922/81955544-81d0b700-960a-11ea-883b-c7288031b65b.png)

[2020-05-14 15:46] christianlupus commented on #1121
I put it on medium priority because there is a simple workaround by downloading and reuploading manually.

[2020-05-14 16:30] christianlupus opened #1122 "Update of the demo system is required soon"
As soon as progress is made in the codebase, the demo system needs to be updated.

Here the question at @Drachenkaetzchen is on which server(s) the demo page is located and if that will be kept as it is now or if the financial situation of the project is too weak.
As soon as this is clear, we can decide on further steps.

If the system is to be kept as it is, the next question is: Is it a root ser

[2020-05-14 16:33] christianlupus commented on #1121
I just by chance found #914. It might be related here.

[2020-05-14 16:34] Drachenkaetzchen commented on #1122
The demo site is on a root server. The demo site should update itself once every hour from git.

[2020-05-14 16:36] christianlupus commented on #1122
That is good to know. Thanks for the quick response.

[2020-05-14 16:36] #1122 closed

[2020-05-19 01:38] mohamed-elshafie opened #1123 "Partkeepr stuck at start"
![Screenshot](https://user-images.githubusercontent.com/65577866/82274998-f5175780-9981-11ea-95c1-1549f9fe5d94.png)
As seen on the screenshot, partkeepr installed on MXlinux but when start the software it stuck on loading.

[2020-05-19 01:56] baradhili commented on #1123
Have you checked to see if you are blocking any scripts? It looks like some
JS isn't loading

On Tue, 19 May 2020 at 09:38, mohamed-elshafie <notifications@github.com>
wrote:

--
−−−−−−−−−−−−−−−−−−−−

Bret Watson
Director
IT Interim Management Pty Ltd
Mob: +61 (0)41 33 03 840
Email:bret@IT-Interim.Management
"The contents of this e-mail transmission are intended solely for the named
recipient(s),

[2020-05-19 07:39] pggood opened #1124 "Installation issue"
installed on php 7 and cant get the setup to run in the error log it has
PHP Fatal error:  require_once(): Failed opening required '/var/www/partkeeper/web/../app/bootstrap.php.cache' (include_path='.:/usr/share/php') in /var/www/partkeeper/web/app.php on line 6, referer: http://192.168.20.7:90/setup/
it appears there is no app/bootstrap.php.cache in the distibution

[2020-05-19 08:50] christianlupus commented on #1123
Cross-posted on [google group](https://groups.google.com/d/msgid/partkeepr-users/c430ce99-f44f-4ccc-857c-bc1035a69cb0%40googlegroups.com).

[2020-05-19 13:52] mohamed-elshafie commented on #1123
I checked the JS in Firefox but all enabled

[2020-05-19 13:54] mohamed-elshafie commented on #1123
I didn't know that cross posting is prohibited, Google post removed.
Your kind opinion is welcomed

[2020-05-19 15:45] christianlupus commented on #1123
Sorry, this was not my intention. I just wanted to share the results if anyone stumbles on either community on this or has a solution.

[2020-05-19 15:49] christianlupus commented on #1123
- If you open a tab in firefox, then you press F12 you should get the developer tools. There is a tab `Console` or so (the very first one). Open it please.
- Keep the dev tools open (you can put them in the background) and direct the tab to your PartKeepr installation.
- Look if there are any errors visible. If in doubt, you can make a screenshot and post it here.
- It might as well be interested

[2020-05-19 19:29] mohamed-elshafie commented on #1123
thanks for your kind help, i followed the instruction and here what i got from console and network tab
![Screenshot-1](https://user-images.githubusercontent.com/65577866/82369537-766cf980-9a17-11ea-8e89-6dda968703bb.png)
![Screenshot-2](https://user-images.githubusercontent.com/65577866/82369546-7967ea00-9a17-11ea-8397-4aeecf4367dc.png)

[2020-05-21 12:29] christianlupus commented on #1123
in the network image you see that the `main2.js` was tried to fetch/load but after 2.5 secs it returned with an 500 error. This means in internal server error.

I assume you are running PartKeepr plainly from the linux machine without docker or virtualization involved. Am I right?

What http server are you using (apache, nginx, ...)? What PHP installation are you using (mod_php, php-fpm,...)?

Is

[2020-05-21 12:30] christianlupus commented on #1124
Are you running from git or which version are you running from?

[2020-05-21 16:54] JamesOctopart commented on #1030
Hi all!

I work for Octopart and wanted to reach out as we are releasing a new version of our API with self service and a free tier for opensource users and this thread seemed to be an appropriate place to start.

We are planning on making 500 part request per month the volume for our free tier, does this sound to be enough to encompass most hobbyist users in PartKeepr?

[2020-05-21 20:49] mohamed-elshafie commented on #1123
Thanks for your follow-up christian...

i installed it on a virtual machine and i am trying use it inside the virtual machine environment itself.
the server is apache and PHP installation was through the following command:
**sudo apt-get install php php-apcu php-apcu-bc php-curl php-gd php-intl php-ldap php-mysql php-dom php-xml**
it happened after setup finished and no data saved...

[2020-05-22 00:04] aarontc commented on #1030
@JamesOctopart I don't speak for this project but this may be the wrong place for your thread. As for your question, when I go through a project design as a hobbyist, I often have an excess of 200 BOM parts, and often order alternates for prototyping stages, sometimes doubling or tripling the possible number of parts to investigate. For myself, a limit of 500 would be pretty tight.

[2020-05-22 01:12] baradhili opened #1125 "Octoparts question"
From @JamesOctopart
"Hi all!

I work for Octopart and wanted to reach out as we are releasing a new version of our API with self service and a free tier for opensource users and this thread seemed to be an appropriate place to start.

We are planning on making 500 part request per month the volume for our free tier, does this sound to be enough to encompass most hobbyist users in PartKeepr?"

[2020-05-22 01:13] baradhili commented on #1030
@JamesOctopart I've moved this to a new issue #1125

[2020-05-22 01:13] baradhili commented on #1125
So we can understand what you are proposing - how is the 500 part request/month measured? We don't host anything so each person is running their own server.

[2020-05-22 01:21] JamesOctopart commented on #1125
Hi Bret,

Part request are counted when a part is returned from a query. Each user
would have to apply for their own API key on Octopart.com so the limits
would be a per user basis.

Do you feel like this would be enough to bring value to PartKeepr's
hobbiest users? To be honest, aside from the Demo instance I have not used
PartKeepr.

Any insight would be greatly appreciated!

On Thu, May 21, 202

[2020-05-22 01:23] baradhili commented on #1125
Forgive my ignorance since I don't use Octopart.. but the request - is that a stock query, a product search,  or an order?

[2020-05-22 05:53] christianlupus commented on #1125
@baradhili Long story short: They condense various information about parts so that users can download these information like seller data, datasheets, device parameters, etc. Very nice to import parts quickly into PartKeepr.
It is very valuable if you import more than a dozen parts a time.

@JamesOctopart I can tell you my **personal** thoughts on it. This is not an official PartKeepr statement.
I

[2020-05-22 05:58] christianlupus commented on #1123
OK. I see. Then I suggest that you look into the logs while you access PK. So, close the tab trying to access PK and go to your VM. The logs should be in `/var/log/apache/error.log` I think by default (unless you changed it). With `tail -f /var/log/....` you can have an eye on the logs while you open the PK web page. Let's see if there are any errors logged there, please.

OK, so no data is at sta

[2020-05-22 10:12] Gasman2014 commented on #1125
I would be very interested in this as I relied on Octopart to drive my KiCad2PartKeepr project.

https://github.com/Gasman2014/KC2PK

For my personal projects a level of 500 parts would be of interest. Has the API changed much? Ensuring that an app works well with an API requires testing and so some flexibility for Open-source developers without buying a subscription would be welcome.

[2020-05-24 19:59] berndoJ commented on #887
This is related to #341 and #404. (As @xxv already mentioned)

However, I do not think that this is a "Backend" bug. This was fixed by me in the JS frontend, just created a pull request (see #341 or #404 for links to that request).

It it quite confusing, seeing this as being classified as a "Bug" and the other issues as "Feature Requests". I think that all should be labeled as "Bug" because it do

[2020-05-24 20:02] berndoJ commented on #341
Should be fixed / implemented in [pull request 1122](https://github.com/partkeepr/PartKeepr/pull/1127).

[2020-05-24 20:02] berndoJ commented on #404
Should be fixed / implemented in [pull request 1122](https://github.com/partkeepr/PartKeepr/pull/1127).

[2020-05-25 08:30] christianlupus commented on #404
I confirm this more a bug than a feature request.

[2020-05-25 08:32] christianlupus commented on #341
I will keep this a feature request as is is in fact two parts: For one it is a duplicate of #404.

The other parted is satted here

This is some independant wish that I keep here for reference.

[2020-05-26 11:01] stegl commented on #905
I have same problem with this.. and cant find the way to install older version of php...?? can i get some help..
the problem:

i tryed this too but i just get another err..
go to file -> /vendor/symfony/monolog-bundle/DependencyInjection/Configuration.php

around line 594 comment out or remove line below:

// ->ifTrue(function ($v) { return ('fingers_crossed' === $v['type'] || 'buffer' === $v['typ

[2020-05-26 14:17] christianlupus commented on #905
@stegl please open a new issue with **Help request** to not hiccup this issue here. You can link to this one nevertheless. Thank you very much.

[2020-05-27 10:32] stegl opened #1128 "invalid response from server"
I have problem installing partkeeper. I for some reason cant downgrade php to any other version...

the first problem is this:

i tryed to fix it by:

but just get this err:
![err](https://user-images.githubusercontent.com/65857447/82893176-e7993900-9f50-11ea-9da8-b5b000818306.png)

[2020-05-29 15:44] cmh-maker commented on #90
+ 1 on this

[2020-05-30 07:07] christianlupus commented on #1128
OK, then let's discuss this here. Sorry for being late on it as I was busy with my day job recently.

If this is a hard fact you are probably out of luck here. The issue is not that there is documentation missing or that we want to keep you from doing it but that some dependencies are heavily outdated. We are trying to get things running again but it takes time. Also, the manpower is quite small f

[2020-06-03 21:41] stegl commented on #1128
no problem.. i had alot of other work to do anyways.

well im thinking to install it on virtual mahine.

yes i can install any linux.. this debian i have right now have so many problems ffs i and i dont know why and how to fix it..(cant install anything -.-)
please if you can and have time i would like to install older version of php with that needed modules and i didnt find the working solution y

[2020-06-04 19:49] hcanchristian commented on #1125
Whats about Collection some statistics by api key on your server? Maybe its a good idea to give some keys to people who ask for them as hobbyists and then count their average usage.

[2020-06-05 15:44] christianlupus commented on #1128
It seems like your operating system is broken in general. You might want to fix it before you install new software. Docker needs an install as well but after that, you can think of an advanced chroot setting.

There is a docker package from mhubig that is your best bet at the moment. This repo will provide docker images eventually but these are not stable at the moment of writing. If you have any

[2020-06-05 18:06] christianlupus commented on #1125
I doubt that you will find a reasomnable average of users to calculate the required API calls but at least it is a way to go.

[2020-06-05 18:24] hcanchristian commented on #1125
As I was thinking about my setup of PartKeepr I would find it reasonable if a hobbyist get one month unlimited test and later a few hundred requests per month. In my case I will use some thousend calls in initial setup the inventory, but later there are not that many parts added.

[2020-06-06 14:44] stegl commented on #1128
i reinstalled debian and its broken again.. cant install anything -.-

a vm would be nice and easy solution.. but its only for virtualbox and cant convert it for hyper-v.

can be closed and deleted.

Thanks for your replays. Have a nice day.

[2020-06-06 15:49] tsichevski commented on #883
Cannot import anything to demo.partkeepr.org today.
The "Preview" tab in the "Import" dialog reads:
The key importBehaviour does not exist for path /!

Same problem in my Debian9 installation of partkeepr 1.4 i created following the instructions at https://wiki.partkeepr.org/wiki/PartKeepr_on_Debian_%22Stretch%22

[2020-06-09 05:46] christianlupus commented on #1128
OK, this sounds strange. Yet, I think you were better of with a closer communication way (-> IRC?). If you want to do so, I might be able to help you in a live session.

I would go with VirtualBox as Hyper-V is only compatible with a few (outdated) versions of windows as far as understand.

If I understand you correctly you mean this issue? Below this text box there is a button close you can click

[2020-06-09 05:46] #1128 closed

[2020-06-11 12:24] abclution opened #1129 "Custom Export Presets / Templates"
Hi there!

Tried to find out if there was custom export template / presets but I could not seem to find it.
This would be a great feature to have to synchronizing / importing into other programs

I see there is templates for importing, any reason to not have it as well for exports?  Cheers.

[2020-06-12 13:16] OfficialPax opened #1130 "E-Bay Integration"
Hi, Maybe this was already requested in a sense here: [#692](https://github.com/partkeepr/PartKeepr/issues/692), but I thought, I might bring that up again. I know you all are really busy and I really appreciate your work. I really love this project so far. The only thing I'm missing is an E-bay integration. It's really a ton of work to inventories in the Partkeepr interface and then switch to e-b

[2020-06-12 18:55] PTDreamer opened #1131 "Installer APCu check fails"
APCu existence is checked on PartKeeprRequirements.php with `function_exists('apc_fetch')`.

apc_fetch is an apc function and is only present if apcu_bc module is installed.

If only apcu functions are needed a better check would be `function_exists('apcu_enabled')`.

[2020-06-14 10:46] christianlupus commented on #1130
I'd say integration with eBay is a quite high and tough business. Most probably, this would be best suited for a plugin that can be managed outside the core of PartKeepr. See #531.

Anyway, there is a clear specification needed what you need and what the system should do for you.

I want to be honest with you. I doubt that the project will gain that much traction to make such a feature request fea

[2020-06-14 10:49] christianlupus commented on #1131
Duplicate of #1084.

[2020-06-14 10:49] #1131 closed

[2020-06-14 13:34] Gasman2014 commented on #1130
Partkeepr is primarily a front end to an SQL database. You can query the database directly using standard SQL queries - I have done this myself. I have not investigated extensively but I would be very surprised if there wasn’t a programatic solution to directly add parts from a SQL database into an eBay shop. I suspect that you might need to add some extra fields or abuse some of the notes but I s

[2020-06-16 06:33] christianlupus opened #1132 "Docker multiarch support"
[comment]: # (Thanks for reporting a missing feature. Depending on the manpower at hand your feature might take some time until it is implemented. Please stay tuned)

[comment]: # (Alternatively you are welcome to supply a pull request of any feature implementation. We will try to help you with the integration.)

# Feature description

Additionally to the native docker image it would be nice to ha

[2020-06-17 13:37] #1124 closed

[2020-06-18 06:51] #1123 closed

[2020-06-18 14:36] christianlupus commented on #1113
The solution provided in #1126 solves this issue only partly. At least two parts are missing:

1. The backend should plainly refuse to store negative numbers. This will cover all sorts of synchronization problems (like multiple users, non-updated browser tab,...) in a central place. How this is handled in detail can be discussed, here I only put the statement that we should/can not rely solely on

[2020-06-18 15:33] christianlupus opened #1133 "Minimum order quantity vs package size not clear"
[comment]: # (Hi and thanks for an issue. In order to help you best, please fill out the following information.)

# Bug description

The user can add multiple distributors to a part each associated with a price and an "order volume amount". This amount is not handled consistently throughout PartKeepr:

- On the distributor's configuration page, it is called a packaging size
- During project price

[2020-06-18 15:43] christianlupus opened #1134 "Implement minimum oder size vs package size"
[comment]: # (Thanks for reporting a missing feature. Depending on the manpower at hand your feature might take some time until it is implemented. Please stay tuned)

[comment]: # (Alternatively you are welcome to supply a pull request of any feature implementation. We will try to help you with the integration.)

# Feature description

In #1133 the problem of lot size (1 reel) vs minimum order amo

[2020-06-19 09:56] berndoJ commented on #1133
In my opinion if one of these two options has to be chosen, I would suggest the "minimal number of parts ordered" option. I think that it would be a lot more useful than the other option, as it is more common. Additionally, interpreting the package size as like a package, like a reel, additional code has to implement the cases where the needed number of parts is not a multiple of a package size. L

[2020-06-19 12:51] christianlupus commented on #1133
I think the minimum number of parts option is the better interpreation for the common sense. Then, some texts need to be replaced on the GUI, merely. Also, this makes your PR more sprecific to test.

The other alternative is in #1134. I assume the lot-based approach will not bringm uch benefit for the average user but I put it here for reference.

[2020-06-20 21:35] OfficialPax commented on #1130
Ok, so i might have found a way to import the SQL DB to E-bay https://developer.ebay.com/api-docs/sell/inventory/resources/inventory_item/methods/bulkCreateOrReplaceInventoryItem
However, since i'm not a dev i have no idea how exactly to implement this. I've talked to the company i'm working together for this Project. We have a Budget of a few hundred euros. Would somebody be able to do that job f

[2020-06-21 21:06] Boldie commented on #1071
@christianlupus Did you succeed in making a working docker image?

[2020-06-22 12:31] crazyduck commented on #1026
Got it working on DS918+:

Created a virtual Host
MariaDB10
Apache 2.4
php 7.0
-> PHP-Cache enabled
-> packages activated: curl, gd, iconv, intl, ldap, mysqli, pdo_mysql, pdo_sqlite, posix,
advanced settings:
default_socket_timeout: 600
max_execution_time: 600

also this nginx reverse proxy changing:
https://www.bluescreengenerator.de/blog/synology-webstation-timeout-problem-beheben
-> /var/packag

[2020-06-22 12:47] christianlupus commented on #1026
@MauroApollo could you please verify that your issue is solved in the meantime or not and if this issue is still relevant for you? I added the *Will be closed soon!* tag to enable the stale bot.

[2020-06-22 12:53] dromer commented on #1130
This would have extremely low priority. Think: `first we need to do all the other things in the backlog' before even considering something like this.

Your use-case is extremely specific and considering the state of the project you should not expect any such functionality within any reasonable term.

And no, there is currently no possibility of support for fringe features like this.

[2020-06-22 13:00] christianlupus commented on #1071
@Boldie At the moment there is #1088 that goes into this direction. You can check out the relevant commits and use them my temporarily merging (locally) with your dev branch. Unfortunately, I am a bit short of thime these days. There are some edges and I might need to work over it once again.

[2020-06-22 13:02] christianlupus commented on #1103
There was not much traction on the topic the last few months. So I marked for closing soon.

[2020-06-28 10:04] ginocic opened #1135 "one more issue on partkeepr:cron:run:synctips"
I can not get rid of it...
I've read [#850](https://github.com/partkeepr/PartKeepr/issues/850), [#858](https://github.com/partkeepr/PartKeepr/issues/858) and [#862](https://github.com/partkeepr/PartKeepr/issues/862).

Trying to follow those directions, I called:
sudo -u www-data /usr/bin/php /var/www/partkeepr-1.4.0/app/console partkeepr:cron:synctips --verbose

and I get this error:

`
  [Symfony

[2020-06-29 17:41] christianlupus commented on #1135
Hello @ginocic, what PHP version are you using? Could it be you are using PHP 7.2 or later? The message
[code]
reminds me of another issue related with either the PHP or the database version. I suspect the PHP version. But let's see.

[2020-06-29 18:07] christianlupus commented on #1135
Just one more point for you: The synctips are not working at the moment from the server side. So you will not get new tips of the days (but the cron service should run anyways....).

[2020-06-29 20:52] ginocic commented on #1135
First of all, thanks for your support.

Then, php version is 7.3. So, maybe could it be that the reason why I get the "error"? May I ask where I can get more info about it?

Then, if it doesn't work from the server side, I will disable the notification and I will check it later when it will work for sure from the server side.

Thank you again for the support. And keep up the great work!

[2020-06-30 06:44] christianlupus opened #1136 "Revive of the tip of the day or removal"
[comment]: # (Thanks for reporting a missing feature. Depending on the manpower at hand your feature might take some time until it is implemented. Please stay tuned)

[comment]: # (Alternatively you are welcome to supply a pull request of any feature implementation. We will try to help you with the integration.)

# Feature description

Currently, the central server is used to fetch the tips of the

[2020-06-30 06:46] christianlupus commented on #1135
Yes, that seems to be the culprit. Due to used libraries (read: the Symfony framework) we are at the moment restricted to PHP <= 7.1. I am surprised that the rest and especially the setup was running. Typically the setup fails in case PHP > 7.1. Was the installation maybe done before the update to the current PHP version and just now it was revived?

In general, I am unsure what other side effects

[2020-06-30 07:07] ginocic commented on #1135
Debian "Stretch"
<https://wiki.partkeepr.org/wiki/PartKeepr_on_Debian_%22Stretch%22>  . I've
just used Debian 10 "Buster". The setup went all right. No errors.

Do you see a chance in using an older PHP version?

I will try it.

Are there any data in the PK installation already?

 Yes, There a looooooot a data... But I will setup a new VM so that's not a
problem

Il giorno mar 30 giu 2020 alle ore

[2020-06-30 12:38] ginocic commented on #1135
Ok, I've put together a new VM with Debian 10 following again from [here](https://wiki.partkeepr.org/wiki/PartKeepr_on_Debian_%22Stretch%22) but with php 7.1 (source: [here](https://www.itzgeek.com/how-tos/linux/debian/how-to-install-php-7-3-7-2-7-1-on-debian-10-debian-9-debian-8.html) ) and, as you thought, that was the problem.
Now, I get no error or warning.. I'm super happy

Made it and it wor

[2020-06-30 15:15] christianlupus commented on #1135
That is good to hear.

Here I am a bit lost, to be honest, what is your goal? Having a PK installation on PHP 7.3 might cause trouble because the Symfony framework in version 2 is incompatible with PHP > 7.1. As soon as we manage to get a new Symfony framework to run, the restriction about the PHP version will vanish. I cannot give any sort of estimate on the time schedule, as the main developer h

[2020-07-01 18:24] MartijnKuipers commented on #1125
I would love to get the free parts/month quota for OctoPart. It is so convenient to get  the data for your parts.
Yes, initially you probably require more than the 500, but inserting 500 components still is quite some work to do (ok, it doesn't take a month).

So, yes please!

[2020-07-02 12:30] PTDreamer commented on #1125
I believe this is just a publicity stunt. I have sent various emails asking about the possibility of having free api access in the future and have received no answer at all.

[2020-07-02 12:35] MartijnKuipers commented on #1125
Ola PTDreamer, you're the stm32 soldering iron guy! Still did not finish mine for a JBC iron.

I asked a similar thing to SnapEDA and they replied me 2 months later (last week). Let's hope they are more lenient towards us.

[2020-07-02 14:56] Gasman2014 commented on #1125
I got a reply from Octopart next working day confirming that they were planning on offering a free tier 'in a few weeks'. This was at the beginning of June. Fingers still crossed!

[2020-07-02 15:23] mfisher31 commented on #1125
IDK, I emailed them a few weeks back.  They acted like they never heard of Partkeepr.... maybe that's how they found the project?

[2020-07-02 15:28] Gasman2014 commented on #1125
My query wasn’t specifically about PartKeepr - I also used to use Octopart for my BOM ordering application - which uses the PartKeepr database as a backend. (Kicad2Partkeepr) but have not been able to use it since they removed API access.

https://github.com/Gasman2014/KC2PK <https://github.com/Gasman2014/KC2PK>

[2020-07-02 16:04] christianlupus commented on #1125
First, I have to say that I did not reverse engineer the protocol that PK uses regarding Octopart. So every statement here is just my educated guess.

Be careful with the API request number. I am unsure, how many requests PK is starting for a single search of a part. It might be the case that each download (datasheet, image, ...) is a unique API call. The same holds true for distributors' data and

[2020-07-15 16:12] Plinsboorg opened #1137 "Columns customization in Projects and Project Report fails"
[comment]: # (Hi and thanks for an issue. In order to help you best, please fill out the following information.)

# Bug description
When I'm trying to customize columns in the Projects tab and in Project Report I'm facing several issues. Sometimes data in columns become invisible and return back witch selecting default column layout. Sometimes the whole layout crashes and I need to refresh the pag

[2020-07-16 08:03] Pararera opened #1138 "Export database from Virtual Machine version"
Hi guys,
for a long time I use PartKeepr version 0.1.9 on Virtual Machine. Now, I want to update to latest version(not Virtual Machine version), but I'm not sure how to export database from Virtual Machine. Can someone help? Thanks a lot!

[2020-07-16 09:25] christianlupus commented on #1138
We had recently multiple such requests.

A few questions before we start:
What are the operating systems both on the VM as well as the destination machine? What database exists? Which version? Have you considered the restrictions regarding PHP and database on the destination system?

For a live discussion, you can reach me on IRC for now in #partkeepr on freenode.

[2020-07-16 09:27] whc2001 opened #1139 "PHP 7.1 only for now?"
I tried to install from git repository, but seems like it won't accept PHP 7.0 and PHP 7.2, but I am unable to get required packages installed for PHP 7.1 (I can find and install everything for 7.0/7.2, but not 7.1.). Is there any workaround, or I need to wait until new version? Thanks.

[2020-07-16 10:49] Pararera commented on #1138
Hi,
thanks for answer!
On VM is Debian(32-bit), for destination I don't know. It's web server with MySQL, phpMyAdmin, PHP etc...
"What database exists?" I don't understand the question. I'm looking for database with all users, parts, warehouses etc... Can I export the database in .txt file so later I can import it on new PartKeepr?
Yes, I'm currently working on requirements for new PartKeepr.

I g

[2020-07-16 11:17] morphal opened #1140 "Share folder structure creation script"
Hi!

Can you please share a db script to create similar folder structure that can be seen at demo url?

[2020-07-16 11:50] Pararera opened #1141 "Blank setup page"
Hi,
I'm trying to install PartKeepr on my localhost(XAMMP, PHP 7.1.33).
PartKeepr version is "main", from master branch.
For some reason, setup page(http://localhost/partkeepr/web/setup/) is blank/white.
Console says

Uncaught SyntaxError: Unexpected token '<'

BreadCrumbWizard.js:19 Uncaught ReferenceError: Ext is not defined  ext-all-debug.js:1
    at BreadCrumbWizard.js:19

And a lot of errors

[2020-07-16 13:36] Gasman2014 commented on #1138
Don’t forget that many of the assets (datasheets, images etc) are NOT stored in the database itself but are in the  ‘data’ directory and need to be backed up separately.

John Pateman

Sent from my iPhone

[2020-07-16 14:21] christianlupus commented on #1139
Short answer: Anything before 7.2 should do. So 7.0 should be fine. What happens if you try to install using 7.0?

[2020-07-16 14:29] christianlupus commented on #1140
I have a DB dump of the demo page. I might be able to extract the relevant part. However, this might overwrite your existing structure (or better most of your DB). So if you have already some data in your database, I'd not recommend that.

Please tell me if I should extract the relevant data from the dump.

[2020-07-16 14:33] christianlupus commented on #1141
Did you run [the steps required to run a git repository](https://wiki.partkeepr.org/wiki/Running_PartKeepr_from_GIT)?

[2020-07-16 14:33] whc2001 commented on #1139
The installation wizard loads properly, but on the "Testing for PHP" step of Prerequisites page, it gives out an error about PHP version is too low, please use PHP 7.1 or above. Seems like PHP7.1 has been removed by many distribution for some reason, I can't even find the deb package for ldap module.

[2020-07-16 15:00] christianlupus commented on #1138
The thing is, you must have a PHP <= 7.1. Furthermore, MariaDB (a common implementation of MySQL) is supported up to 10.1 (see #1098). If the new system is newer, PartKeepr will cause problems. Just a warning.

I wanted to know if you are using MySQL/MariaDB or PostgreSQL in the VM.

The first step is to stop using the VM instance. We need to export some files and these need to be consistent. Othe

[2020-07-16 15:03] morphal commented on #1140
I've just started and have no valuable data yet. Please do the extraction. Thank you

[2020-07-16 15:11] christianlupus commented on #1139
You can try the following: Go to [this file](https://github.com/partkeepr/PartKeepr/blob/master/web/setup/tests/check-php.php@L4) in your local environment. Replace the check for 7.1 by 7.0. Then you should be able to run it using PHP 7.0.

I thought, PHP 7.1 would be more probably be available than 7.0. The reason was to remove the 5.x branch of PHP support as this is highly outdated....

[2020-07-16 15:18] whc2001 commented on #1139
Thanks, actually right after I posted this issue, I found a [docker script](https://github.com/mhubig/docker-partkeepr) that can install the entire PHP 7.1 environment for you, and after some fiddling I got it working. Since I have already made the instance running I decided not to try the code-modifying method, but I assume it works and you can use PHP 7.0.

[2020-07-16 15:18] #1139 closed

[2020-07-16 15:33] christianlupus commented on #1140
OK, I just extracted the categories table from the demo page. Nothing else.This might throw your existing pats in various categories. So be warned. You might eventually need to truncate the table if there is data colliding.

[pk-cat.sql.gz](https://github.com/partkeepr/PartKeepr/files/4932466/pk-cat.sql.gz)

[2020-07-16 15:39] morphal commented on #1140
thanks a lot!

[2020-07-16 15:39] #1140 closed

[2020-07-17 14:36] Pararera commented on #1138
Thanks for help. Please, don't close the issue yet.
So, in a nutshell:

- Install PartKeepr from master onto web server.
- Export database from VM
- Import VM's database to new PartKeepr(via phpMyAdmin)

I have no data stored outside database(datasheets etc..). Only components, categories, warehouses, etc.. Guess all data are in SQL database.

[2020-07-17 14:40] Pararera commented on #1141
No, I did not. Only downloaded via download button. Last time it worked.
Also, latest release is v1.4.0 which I can run on PHP 7.4(as check says), master branch requires PHP 7.1

[2020-07-17 16:32] JohanBraeken commented on #1125
At the beginning of this year, my Octopart registration was rejected as my use case (Partkeeper as hobbyist) was not compatible with Octopart's terms of use.
These terms specifically mention you can not download and store data (like datasheets) on your own system and all data retrieved from Octopart can only be cached for maximum 24 hours. (https://octopart.com/api/terms)
This means you will have

[2020-07-17 16:53] JamesOctopart commented on #1125
Hey all,

Updating this thread as we have launched the new GraphQL API which we're
pretty excited about and can be found here: https://octopart.com/api

A few updates:

Our free tier allows for 500 parts returned per month with the ability to
purchase more if needed.

There will be some work needed to be done to ensure PK can query our new
API, our getting started guide can be found here:
https://

[2020-07-19 13:53] #1026 closed

[2020-07-19 13:53] #1130 closed

[2020-07-19 13:53] #1103 closed

[2020-07-20 08:31] christianlupus commented on #1141
No, the check was recently added to the master branch as a relatively large number of issues arose regarding the incompatibility with PHP >= 7.2 and MariaDB >= 10.2. I know that such old installations of PHP are nowadays no longer suggested and we are trying to change that. The thing is that Symfony 2 (we are heavily relying on it) is only supporting up to PHP 7.1. Earlier, the test was just not p

[2020-07-20 08:47] christianlupus commented on #1138
You can have a look into the `data` folder. Also images, footprints icons and the like are stored there. Just look if there are any files except for potential `.gitkeep` files: `tree /path/to/pk/data` or `ls -lR /path/to/pk/data`.

Your summary is correct. That should do the trick. Just give it a try and see if you can access all your data.
If everything is going bad, you might need to migrate the

[2020-07-20 14:26] christianlupus commented on #1137
When you tried to use the changes from the git repository, did you run the corresponding commands [to build the required files from the source files](https://wiki.partkeepr.org/wiki/Running_PartKeepr_from_GIT)?

[2020-07-21 22:49] boiddude commented on #883
I'm trying to import from a CSV file. I can choose the file, Set the fields I want to match. I click on Execute import and it brings up a second window with what it seemed to have imported. I just can't find the information it supposedly imported anywhere. Does anyone have any ideas?  I get this error when I click on **Execute import**.

[2020-07-22 00:36:05] request.CRITICAL: Uncaught PHP Excepti

[2020-07-22 13:37] christianlupus commented on #883
@boiddude what PHP version and what database (incl version) are you using? Just to rule out some incompatibility with the outdated Symfony framework.

[2020-07-22 14:53] boiddude commented on #883
My PHP level is 7.3.11 and the database is Mariadb. It is a docker-compose set of images made by mhubig and running on Ubuntu 20.04. I see that there are some prerequisites that have to be fulfilled as far as 2 errors are concerned but I have them supposedly taken care of as the errors go away.  I have to use the same data from my CVS file to take care of them though so it is being imported under

[2020-07-22 15:36] christianlupus commented on #883
If you are referring to [this repositorie's Docker image](https://github.com/mhubig/docker-partkeepr/blob/master/Dockerfile), it is PHP 7.1. In this case I will just keep this issue open for further reference.

[2020-07-22 15:41] boiddude commented on #883
Yes, I just was looking at the PHP on my system.  Do you know how to import?  What is the process.  Some people talked about projects.  I see on the main Part Manager page and to bottom middle that there is an import option there as well. I have tried both of them honestly and neither of them actually import. Can you maybe run through the steps?  I only have 4 columns of data in my CSV file.  One

[2020-07-22 16:01] boiddude commented on #883
Ok, I was able to get rid of the errors by setting the PartKeepr.PartBundle.Entity.Part name to the part number. I was able to set the category description to the part description so that the errors went away. I am clicking on the Preview tab and it is saying "The part has no category assigned" but doesn't list a part.  What am I supposed to do? It won't import now and was importing yesterday even

[2020-07-23 17:13] boiddude opened #1143 "Critical error when deleting parts"
System: Linux Ubuntu 20.04
Using docker mhubig/partkeepr latest using docker-compose  (just installed 7/22/2020)

Part was clicked on in the Part Manager -> Parts List tab and then the Delete Part was clicked. Part is not deleted.

Full Report: Critical Error

Details
==================================
The server returned a response which we were not able to interpret.

Request
===================

[2020-07-24 17:49] boiddude opened #1144 "Location import not showing up"
System: Ubuntu 20.04

Using a new docker-compose install. First thing is to import locations which I was able to successfully 1 time in my prior install.  After the location import I imported my parts under a project and only 56 out of 92 parts were imported but they did have the correct locations specified.  I imported the parts file again but this time when I clicked on the StorageLocation folde

[2020-07-24 21:44] boiddude opened #1145 "Issue editing parts after import"
It looks like I might have found a bug.  I have had to rebuild my setup multiple times now due to it.  Everything is ok after I import everything (besides stock not working).

It looks like there is an issue after importing data into partkeepr.  I followed this process.

Using Ubuntu 20.04
1) downloaded the latest partkeepr from mhubig/docker-partkeepr.
2) docker-compose up to get it up and runnin

[2020-07-26 07:01] christianlupus commented on #1145
If you think, you found a bug, you should have selected the corresponding issue type. There are a lot of information missing in order to tell anything. Additionally, to be honest, I am not able to understand nor to understand the issue en detail.

If you could provide a set of test data with this importing, it would be very useful to not have to generate random data in order to reproduce it. Witho

[2020-07-26 07:15] christianlupus commented on #1141
I assume the problem is the PHP version you are using. Unfortunately, you did no more answer if the problem still persists.

You might want to look into the development tools of your browser and check if any requests any sort of unreachable pages. In this case, you could check if the pages exist in the file system on the server.

[2020-07-26 07:29] christianlupus commented on #1144
Similar the the other issue I commented a few minutes ago, I have the problem that I cannot reproduce the steps you took from your text. Again, we might need a test case (CSV file). A step-by-step instruction to reproduce your path is necessary as well. Try to minimize as much as possible.

Regarding the messing around with the `/var/lib/docker` folder I told you already to never ever do that.

[2020-07-27 14:47] PGCJLEngineer commented on #832
Is anybody able to tell me how to adjust the 'add parts' dialogue box to include an additional field for the price of new parts. I can then get this daft average price bug fixed. (I can do the SQL code but am not familiar with the web-page development).
Thanks

[2020-07-27 15:09] christianlupus commented on #832
I think everything should be there already in the UI or am I wrong? This is how it looks for me on the demo page:
![Screenshot_2020-07-27 PartKeepr](https://user-images.githubusercontent.com/8202922/88558477-df7e7800-d02b-11ea-890e-b9eed24bf022.png)

What else do you want to add?

[2020-07-27 15:19] christianlupus commented on #1117
The thing I am intending here is to have a clear interface that serves as a separation of backend and frontend. The hydra definition is in the code. Thus changes in the interface can easily happen "by the way". When having a clear API specification that is separated from the main code base (can be placed in an adjacent folder) allows both checking the frontend and backend as well as manual API inv

[2020-07-27 18:20] #1135 closed

[2020-07-28 07:24] PGCJLEngineer commented on #832
Sorry, I am actually looking for the location of the source code for this and the remove-parts dialogue boxes.

[2020-07-28 10:08] christianlupus commented on #832
This form is found [here](https://github.com/partkeepr/PartKeepr/blob/master/src/PartKeepr/FrontendBundle/Resources/public/js/Components/Part/AddRemoveStockWindow.js).

[2020-07-29 10:17] kgabryszewska opened #1146 "Octopart feature doesn't work"
[comment]: # (Hi and thanks for an issue. In order to help you best, please fill out the following information.)

# Bug description
When I'm adding New Component to the database and try to download part parameters from Octopart, I see only white page, without any records. This also stopped working for your Demo version on your website.

## Steps to reproduce
1. Add New Component
1. Add name f.eg M

[2020-07-29 10:33] Gasman2014 commented on #1146
Octopart used to offer a free API to access this information but this facility was removed a couple of years ago. You can still use the facility on your own PartKeepr setup BUT you will have to sign up to a paid package from Octopart in order to get a valid API token. I think they have plans which start from $25pm or so. I presume that the original author has not maintained the Octopart access ( I

[2020-07-29 11:05] christianlupus commented on #1146
To debug this a bit further, I suggest you look into the logs of your webserver. There should be some hint in the logs. Most probably you get a not authorized message from Octopart. Can you please check this?

[2020-08-02 01:29] mkamarin commented on #980
I am having the same error. Using PartKeepr 1.4.0 (downloaded couple of weeks ago) on Linux Mint 20 with XAMPP (XAMPP for Linux 7.4.8 [PHP 7.4.8] https://www.apachefriends.org/index.html).

The php_error_log includes the following line:

[01-Aug-2020 17:50:45 America/Los_Angeles] PHP Notice:  A non well formed numeric value encountered in /xxxxxx/www/htdocs/partkeepr-1.4.0/app/PartKeeprRequirement

[2020-08-02 01:31] mkamarin opened #1147 "Setup fails with: PHP Notice: A non well formed numeric value encountered inapp/PartKeeprRequirements.php on line 126"
I am having the same error. Using PartKeepr 1.4.0 (downloaded couple of weeks ago) on Linux Mint 20 with XAMPP (XAMPP for Linux 7.4.8 [PHP 7.4.8] https://www.apachefriends.org/index.html).

The php_error_log includes the following line:

[01-Aug-2020 17:50:45 America/Los_Angeles] PHP Notice:  A non well formed numeric value encountered in /xxxxxx/www/htdocs/partkeepr-1.4.0/app/PartKeeprRequirement

[2020-08-02 20:07] KHufman35 commented on #1067
The following import fails & is reproducible on the demo system:
File import with creation of category, part, and location.  Import settings are documented in screenshots below.  Import file is as shown.
![category name match](https://user-images.githubusercontent.com/69122480/89131364-3f689900-d4da-11ea-9459-d21fa280c759.jpg)
![Category Name Set](https://user-images.githubusercontent.com/69122480

[2020-08-03 00:59] mkamarin commented on #1147
Noticed that $val has a character (g, m, or k) appended at the end, which I should have noticed in the first place. Fixed the code as follows:
[code]

Should I generate a pull request?

[2020-08-03 09:54] christianlupus commented on #1147
There is already a PR #1010. It even covers the case where no modifier is given (aka bytes). So, it is already in the `master` branch but that was after the `1.4.0` release. So you might need to use the git version is order to get the bug fixed.

I will close this issue as it seems to be already fixed in my understanding. If you find this is a false assumption please comment, I can reopen then.

B

[2020-08-03 09:54] #1147 closed

[2020-08-03 23:38] KHufman35 opened #1148 "Project Report Remarks Column Not Populated after Selecting Metapart"
Project Report Remarks column contents disappears for parts that are comprised of metaparts.  The remarks are present with the meta part, but disappear when a specific instance of the metapart is selected.

This is reproducable on the demo system.

On the demo system, edit project:  Cooking Recipe: Pancakes
Add a value in the Remarks column for Roasting Fat:
Save project

![Project Edit Remarks Ad

[2020-08-05 06:07] Plinsboorg commented on #1137
After the correct installation of pull request #948 bugs with displaying columns information was fixed. More information is inside the pull request.  First bug with the deactivation of "part" column after any edits in columns is steel there. Even after restoring columns preset back to default "Part" column remains not active and only page refresh can fix the problem.

[2020-08-05 06:09] #898 closed

[2020-08-05 06:09] #948 closed

[2020-08-06 06:13] Plinsboorg commented on #1146
According to issue #1125 we have free opportunity to use Octopart API. In my opinion, it is critical feature to have. Octopart integration is one of the main reasons why I chose PartKeepr from other existing inventory managers available.
I'm afraid I disagree with tag "Will be closed soon". This feature needs to be developed and it won't necessarily be easy.

[2020-08-06 06:56] Plinsboorg commented on #1137
After the latest merge of pull request #948 to main, I reinstalled and updated PartKeepr in my server and I can confirm that **only the first bug is presented now**.  Perfect looking
![image](https://user-images.githubusercontent.com/42300339/89498535-13ddfb00-d7c7-11ea-8247-661492df530d.png)

 Also, I discovered two more bugs related to this issue. Let's continue numeration
**Bug 4**
I need to ha

[2020-08-06 07:11] Plinsboorg commented on #1100
I agree this is the handy feature for everyday usage.

[2020-08-06 12:30] Gasman2014 commented on #1146
Although the new  Octopart API offers free (limited) access, it is not the same API as the paid for version - so a new parser would be needed to use this.  Also, the new free API is also rather more limited - for instance, I don’t think you can download datasheets - it isn’t simply a limit on the number of queries allowed.

[2020-08-07 10:33] christianlupus commented on #1146
@Plinsboorg I added the "Will be closed soon" as this will activate the stale bot of github. Without further insight, I cannot do much as I have not enough information to know if the issue is the Octopart API restriction (most probably) or not.

If it is the Octopart restriction, we cannot do anything right now. I confirm, that it might be well the case that the new API **might** allow us to use t

[2020-08-07 10:38] christianlupus opened #1149 "Make failure of Octopart import more verbose"
[comment]: # (Thanks for reporting a missing feature. Depending on the manpower at hand your feature might take some time until it is implemented. Please stay tuned)

[comment]: # (Alternatively you are welcome to supply a pull request of any feature implementation. We will try to help you with the integration.)

# Feature description

[comment]: # (Please describe clearly what feature you would l

[2020-08-07 11:10] Gasman2014 commented on #1146
I think the point is that the current full octopart setup still works. It is just that the access is no longer free.

John Pateman

Sent from my iPhone

[2020-08-12 09:41] sibbi77 commented on #1146
see my PR #1150 as a solution

[2020-08-12 14:26] sibbi77 commented on #1149
implemented in PR #1150

[2020-08-16 09:08] #1138 closed

[2020-08-17 09:48] JoarGjersund commented on #1141
You should also remember to set the correct permissions as explained in the [Install Guidelines](https://wiki.partkeepr.org/wiki/Main_Page)
[code]

[2020-08-17 09:57] JoarGjersund commented on #313
Wow! That would be really nice to have! Anyone working on this?

[2020-08-17 10:03] christianlupus commented on #313
@JoarGjersund I doubt it. The most pressing thing at the moment is to get manpower and update the framework #1083 and #1056
So if you want to give it a try, feel free and create a PR!

[2020-08-17 12:35] JoarGjersund commented on #313
Allright. I had a look at the source code and it looks like it would take a bit to much time for me to implement as I do not have much experience with the framework. I did however find a workaround which is to work directly with the mySQL database through phpmyadmin.

[2020-08-19 23:21] whc2001 commented on #727
In case someone still confused by "click \\"Add\\"" while emphasizing keyboard shortcut, hitting Enter while focusing on quantity control is the same as clicking "Add", which enables fully keyboard experience.

[2020-08-26 03:11] tylerazfab commented on #1141
Download from the website and not GitHub

[2020-08-27 17:17] christianlupus commented on #1141
This will not necessarily help. The (outdated) version on the partkeepr.org website misses the test for a compatible PHP version. As a result, you might run into another issue that was documented here. So be careful here.
So, if you get any strange error messages, you might want to check your PHP and database versions!

[2020-09-09 13:51] #1146 closed

[2020-09-09 14:12] cgsecret opened #1151 "Partkeepr Error because of LDAP Setup/Config Changes"
Hi,

i am failing to setup LDAP for Partkeepr and somehow managed to get an Internal Server Error. Im pretty sure that it is a mistake on user level since i am very unsure about my LDAP config.

Here is the error i get if I try to login with an LDAP Account:
[code]
Here is my config.yml:

[code]
My OpenLDAP  Setup looks something like this:

For the binduser
[code]

Any help regarding the error or

[2020-09-17 11:20] JoarGjersund opened #1152 "Lot Number not included in Project Runs"
How to reproduce:
1.  Create a new project under "edit > projects"
2.  Add a part and fill out the field  "Lot number" with "12345" and click "Save project".
3. Generate a project report under "view > Project Reports", select the project and set Qty to 1 and click Create Report.
4. Click "Remove parts from stock"
5. Go to "View > Project Runs" and view the last run.

What happens: "Lot number fiel

[2020-09-18 08:14] christianlupus commented on #1152
I can confirm this issue.

I just created a [HAR dump from firefox](https://github.com/partkeepr/PartKeepr/files/5244245/demo-git.partkeepr.org_Archive.20-09-18.10-04-48.har.gz) to have this documented. During `massRemoveStock` the lot number seems not be transfered, if I see it correctly. Thus it needs to be implemented in the project run (to be present when clicking on "remove parts from stock".

[2020-09-18 08:29] christianlupus commented on #1043
@JoarGjersund, is this true for all settings? If yes, please open a new issue, as it seems a separate issue as far as I understand it. You have a order number in the report but upon saving it gets lost, right?

In my quick test it was possible to fill in the distributors and its numbers but not the production remarks. @TineRo256 Can you confirm that on the [git-based demo page](https://demo-git.pa

[2020-09-18 16:53] JoarGjersund commented on #1043
@christianlupus  It appears to only reset the order number column, nothing else as far as I know.

There is also a small bug when saving a project report that you have to first select the report and click load report. It does not work to save a report right after it has been created, you have to (re)open it first.

[2020-09-23 20:13] #1141 closed

[2020-09-26 18:19] ed-commits commented on #1152
Hello! I saw this issue on bountysource so I had a look at the code.

I was able to reproduce the bug. By inspecting `http://partkeepr.local/api/project_run_parts/1` I saw that `lotNumber` is set in the part inside project, but not set in the toplevel part. Based on this I think it's just a display issue rather than the `lotNumber` value disappearing, indeed `lotNumber` is copied over inside `mass

[2020-10-01 10:51] arthurlutz commented on #1083
I'm hoping to run partkeepr on a debian buster which has php 7.3. I'd be interested in this upgrade too. (unless there is another open issue on possibilities of running partkeepr with 7.3 ?)

[2020-10-01 11:08] dromer commented on #1083
I think everybody is "interested" in upgrading our dependencies to more modern requirements.

The problem is that we really need someone with experience to help with this.
Please refrain from "+1" and "me too" posts in this thread, I think we all have the same goal here :)

[2020-10-01 11:11] dromer commented on #1152
Would be nice to get confirmation that your PR fixes this issue completely!

[2020-10-05 09:22] JoarGjersund commented on #1152
I tried to implement the changes but it did not seem to have any effect. I only implemented the changes and did a re-run of the /setup page. Do I need to do run any composer commands as well?

[2020-10-05 17:59] ed-commits commented on #1152
I think the cache of the frontend javascript files must be deleted for this change to apply. I just deleted them then reran setup but later I found these commands which may work better https://wiki.partkeepr.org/wiki/Running_PartKeepr_from_GIT#Console_commands

[2020-10-06 13:14] JoarGjersund commented on #1152
@ed-commits  I am a total noob with this environment, so sorry for my stupid questions. But with the frontend javascript do you mean running the `rm -rf app/cache/*` command ?  I have tried this, but I am still not able to make it include the lot number in the project runs. Can you provide me with the exact procedure you used to verify the patch so I can reproduce?

[2020-10-07 14:05] ed-commits commented on #1152
I did that, also maybe try `rm -rf web/js/compiled` and `rm -rf web/js/packages/extjs6` too. then rerun setup. then the change should apply.

[2020-10-08 07:04] JoarGjersund commented on #1152
@ed-commits I have now tried this as well, and I am unfortuently not able see that the change makes any difference. Are someone else able to confirm that this solves the issue?

[2020-10-12 14:54] JoarGjersund commented on #1152
I can now confirm that #1153 fixes this issue. Seems like the cache somewhere was reset after a while. However removing compiled and extjs6 is not reccomended. It will brick the whole system, making it stuck in in loading page, and setup page was be left blank. This  issue can be closed once the fix is merged to master.

[2020-10-12 15:07] JoarGjersund commented on #1152
I think the issue is indeed somewhere in the massremovestock action
 here: https://github.com/partkeepr/PartKeepr/blob/e39c5f87f9ad44c7b7d4ffb521178f492761320d/src/PartKeepr/PartBundle/Controller/PartController.php#L95

Or rather, that the `$removal->lotNumber` field is empty. So more specifially somewhere in the json request
https://github.com/partkeepr/PartKeepr/blob/e39c5f87f9ad44c7b7d4ffb52117

[2020-10-20 22:03] RobertMouncer opened #1154 "Deployment to AWS"
I've been trying to deploy Partkeepr to AWS eleastic beanstalk, but with no luck.

Are there any guides or is someone able to help me deploy to elastic beanstalk?

[2020-10-22 15:11] christianlupus commented on #1154
I will add the *Will be closed soon!* tag as this will enable the stale bot on the issue. If no answers are coming and you forget about the issue, you will get a reminder about it.

[2020-10-26 00:31] MichaelYogar commented on #669
Hi, if this is still needed, can I be assigned to this?

[2020-10-26 00:31] MichaelYogar commented on #734
Hi, I can implement this feature if you still want it!

[2020-10-29 15:59] citizen3942 commented on #1110
Facing the same kind of problem here.
Also trying to use PHP 7.4.
Any news on upgrading to Symfony 5 and PHP 7.4 compatibility?

[2020-10-31 16:16] mixosp commented on #783
I am a new user here trying to install the Partkeepr on my server. I upload and unzip the files and point my browser to https://www.test-domain.com/bom/web/ to start the installation but I get this:

_It seems that your web-server misses the capability to parse .htaccess files or the Directory Index is misconfigured on nginx.
Please read the KB article on PartKeepr web server configuration._

I tr

[2020-11-01 15:04] christianlupus commented on #783
@mixosp This issue is closed almost 2 years ago. So please open a new issue, if this still persists to keep the discussion separate.

Quick question: Did you run the setup (aka visit the `/setup/` folder)? This is necessary before the main app can work. If you open a new issue, please provide us with the basic information, what *exactly* did you do, what OS, http server, PHP and DB version you are

[2020-11-01 15:05] christianlupus commented on #1110
@citizen3942 Your PHP version is too new for PK.
Regarding the upgrade, we are not much farther than a few months before. We are missing an experiences symfony developer.

[2020-11-01 15:08] christianlupus commented on #669
@MichaelYogar I can assign you if you like. Just give me a short ping. It would be nice to have you contributing.

[2020-11-01 15:29] MichaelYogar commented on #669
@christianlupus I can definitely give this a go!

[2020-11-01 17:12] christianlupus opened #1155 "Make dependencies compatible with Composer 2"
Composer 2.0 was released recently. As a result, our `composer.json` and `composer.lock` need to be compatible. Some depedencies are currently causing trouble with composer 2.0.

[2020-11-06 23:01] arretx opened #1156 "Searching for a few features that I can't seem to find or find workarounds for..."
[comment]: # (Thanks for reporting a missing feature. Depending on the manpower at hand your feature might take some time until it is implemented. Please stay tuned)

[comment]: # (Alternatively you are welcome to supply a pull request of any feature implementation. We will try to help you with the integration.)

# Feature 1: Variations of the same part (color / size / etc.)

Part Variations?  Is

[2020-11-07 08:16] christianlupus commented on #1156
These are two separate issues. Normally, better would be two separate issues if not connected somehow.

Regarding the first question, this is the idea behind meta parts. You might have stumbled upon them yet. You have a meta part (40 pin header) and multiple instances (in red, blue, black, ...). By corresponding parameters, you can associate the colored ones to the uncolored meta part. You might w

[2020-11-10 20:31] arretx opened #1157 "Table to Track Individual Items in Quantity (Serialization / Deployment / Repair Status / etc.)"
A basic example:

You purchase 5 ESP32CAM boards with cameras and increase your stock accordingly.

Now, you build something with them using various sensors and what not.  You flash them with specific software and deploy them.  They have a purpose, or multiple purposi.  ;).

You build two more.  One has a broken antenna lead, but that's okay because it's close enough to the router, so it doesn't n

[2020-11-12 13:19] christianlupus commented on #1157
As you have mentioned yourself, PK is mainly intended for saving equal items. There were multiple requests of similar structure in the recent past on the IRC channel. Such a large change needs the big issue of the outdated symfony framework #1083, #1155 be solved.

[2020-11-18 18:05] #1154 closed

[2020-11-19 18:43] Protoncek commented on #1100
Hello to all!
I just discovered PartKeepr and i'm testing it on my Synology. I have a question regarding this topic:
Since i ran into same bug, i found out that editing of names, columns...IS saved if i create a profile and save it.  The problem is that log-off an on again program doesn't choose this created profile, so each time i must go into "columns edit", choose my profile and it's there agai

[2020-11-22 17:13] KHufman35 opened #1159 "Project Run Delete Option"
Requested to implement a Project Run Delete function.

Upon generating a **Project Report**, if the option is executed to **Remove Stock From Inventory**; the resulting action creates a project run report (under Project Run tab).  There is currently no method to delete the project run.

Once a project run is created, the project nor any associated components can be removed from the PartKeepr datab

[2020-11-23 10:44] christianlupus commented on #1159
Just to clarify: When a project run is to be removed, what should happen exactly?
Should only the project run be no longer listed in the list of runs or should the whole project run be reversed (aka the parts stock level refilled)?

[2020-11-23 11:05] KHufman35 commented on #1159
My expectation is the project run would be removed from the list; stock inventory would not be revised.

My specific scenario is:
1)  I create a Project and run the Project Report / Remove Inventory.  This creates the Project Run Report and updates my inventory levels to reflect parts consumed in the build.
2)  The project becomes obsolete and is dropped from my project list.  The parts used in pr

[2020-11-23 11:17] christianlupus commented on #1159
Yes, that clarifies the issue but opens the question for me if it is better to drop the connection or marking the complete project as archived. The same could be done for removal of parts completely. This would as well reduce the amount a user has to do in order to gain the desired effect.

[2020-11-23 12:20] KHufman35 commented on #1159
I am setting up a PartKeepr instance for a small PCB assembly shop in my area.  I assumed they would want the ability to delete old projects, but perhaps not.  Since this feature request was specifically for this application, I'd like to solicit their feedback before proceeding.  Perhaps it is best for the assembly shop to work with ParKeepr for a few weeks then revisit this issue.

Thank you for

[2020-11-23 13:48] christianlupus commented on #1159
I added the will-be-closed-soon tag as this activates the stale bot. It will send a comment in a few weeks. Just issue a comment to restart the time.

[2020-11-23 21:47] Forceu commented on #1132
I created a Dockerfile that is able to cross compile to other platforms: https://github.com/Forceu/partkeepr_docker/

I haven't tried it on a RPi yet, but it should work out of the box. To pull it, `docker pull f0rc3/partkeepr:arm64v8-latest` or  `docker pull f0rc3/partkeepr:arm32v7-latest` can be used

[2020-11-24 06:42] christianlupus commented on #1132
There are a few issues with your code, unfortunately. (I had the same problems in @1088.)

- You do not provide a license. We cannot include something proprietary into open source (without license it's proprietary).
- You are not providing a multiarch image but multiple images of different architectures. The difference is that you do not have to provide the architecture during `pull` but docker ha

[2020-11-24 10:30] Forceu commented on #1132
Thank you for the quick reply! I didn't realise that you were working on a Docker image as well, as there wasn't any links to official images. The comment was more or less a plug, but I would be very happy to contribute to the project and create pull requests!

- I added a GPL license to the project
- I was unaware that it is possible to create multiarch images  with buildx (I am only using podman

[2020-11-24 13:29] christianlupus commented on #1132
I am a bit short in time at the moment. Some things might be faster discussed in IRC #partkeepr.

GPL is good. Thank you.

The thing with `buildx` I stumbled upon a few years back. I was not aware of it either.

The thing with apache is that it scales comparably bad. At least when using the *prefork* variant that allows parallelized PHP usage. The others can only use multiple PHP instances if PHP-

[2020-11-25 15:26] Forceu commented on #1132
Okay, so I tried a docker buildx workflow on the repo and the image builds without any problems: https://hub.docker.com/layers/f0rc3/partkeepr/multiarch-latest/images/sha256-4d068f82faec663066ac1da88dcc53794a79e5f7de084353195cc3ad56c619eb?context=repo

If you want to, I can create a Pull Request, so that on each commit Github builds the image automatically.

So if I understand it correctly, you ar

[2020-11-26 05:47] toblie opened #1160 "Server error while setup step 'warming up the cache'"
Hi,
badly I am not able to setup the server.
While the the step 'warming up the cache' it always throws an error and I am not able to finish the setup.
<img width="596" alt="Bildschirmfoto 2020-11-25 um 16 59 45" src="https://user-images.githubusercontent.com/3874207/100251962-a4d80e00-2f3f-11eb-9690-84e2dcd5000c.png">
<img width="592" alt="Bildschirmfoto 2020-11-25 um 16 56 50" src="https://user-

[2020-11-26 08:30] christianlupus commented on #1132
A single container would be nice but does impose other issues and violations of the docker principles.

Just to make sure we are on the same page: When using another HTTP server than apache with prefork handler enabled, we need to push PHP to another service (typically php-fpm is used). So we have to run (apart from DB and such) **two** services: HTTP and PHP/php-fpm.

When doing this, the "pure"

[2020-11-26 09:15] christianlupus commented on #1160
Hello. Let's see if we can get down to it.

First: How is your setup? You write something about a volume. I suspect docker to be in use but please specify it. What container are you using? What HTTP server? What PHP version? What DB? DB Version?
Further what did you do yet? Where did you get PK (if not packed with a container image)? Which steps did you perform?

[2020-11-26 09:31] toblie commented on #1160
Thanks for your reply! Sorry for the poor informations - will try to add some more.
Yes, you're right I am using Docker running on arm64 device (pine64).
I pulled the image from https://github.com/Forceu/partkeepr_docker - I think it is a fork from https://github.com/mhubig/docker-partkeepr.

Partkeepr: 1.4.0
HTTP Server: Apache
PHP: 7.1.33
DB: MariaDB 10.0.38

I just created the volume, pull and

[2020-11-26 09:48] christianlupus commented on #1160
Inside or outside the container?

Are there any logs in `docker logs partkeepr-web`? There should be a complete message.

You could enter the container as suggested and find out if the path mentioned in the first image exists (at least the part that is visible in the image or use a web console to read the HTML code manually).

As I suspect a setup issue here, I ping @Forceu.

[2020-11-26 10:04] toblie commented on #1160
I changed the permissions within the container...
The mentioned path is well filled with lot of folders:
<img width="573" alt="Bildschirmfoto 2020-11-26 um 11 00 00" src="https://user-images.githubusercontent.com/3874207/100336706-c9cb9000-2fd6-11eb-9d9e-56a5dc197ff6.png">

I think the logs won't show any causing:
`AH00558: apache2: Could not reliably determine the server's fully qualified domain

[2020-11-26 11:18] Forceu commented on #1132
For a different project I am using [a single container](https://github.com/Forceu/barcodebuddy-docker/blob/master/Dockerfile) with nginx, php-fpm and a custom websocket server together, based on the [Linuxserver Nginx Image](https://hub.docker.com/r/lsiobase/nginx/). According to Dockerhub these images have 1.2M pulls (I doubt it though, as it is quite a niche project) and so far no one had any pr

[2020-11-26 14:08] christianlupus commented on #1132
Fair enough. If we have one container just publishing port 80 that should be well suited in my understanding.

The thing is we need to understand how this works at least partially to ensure it is running. I do not get the point of how multiple services are running in one container. How are these started? I tried to work through the Dockerfiles but do not understand directly how it works. Until nex

[2020-12-01 12:15] Forceu commented on #1132
To be honest, I am not super experienced in Docker - however from my understanding the reason why some people say it is better to only have one process per container is that only that one is monitored. So for example if you are running mysql in background and it crashes, the container would not notify you. For critical infrastructure this would not be ideal, for something like this you could simpl

[2020-12-01 13:21] christianlupus commented on #1132
Not only. There are other things to consider:
1. Logging: You cannot directly see the output of a (mon-main) service as started by your approach without going into the container.
2. Zombie processes: When many threads are forked it can happen that (when programmed badly) so-called zombie processes are created. These need to be taken care of. Normally, `init` does that, so you need a valid zombie-k

[2020-12-01 16:48] Forceu commented on #1132
Oh I see, now that does make sense what you meant with synchronising.

All your objections are very valid (especially for a dev environment), and I do see your point. In the end I think for a user version, it should be only one container, to make it easier to maintain for the user, but with the dev environment you would probably need multiple containers to have all the logging etc.

In the recent

[2020-12-03 21:25] Forceu commented on #1160
Might be related to #811

[2020-12-06 17:48] rafaelcamacho opened #1161 "Error when adding manufacturer image."
Hi there,

I had an error when I went to add an image of a manufacturer.

Even by upload or url.

Version: github, updated.

Details:

An error occurred

Details
==================================
Expected argument of type "PartKeepr\ManufacturerBundle\Entity\ManufacturerICLogo", "Proxies\__CG__\PartKeepr\ImageBundle\Entity\TempImage" given

Request
==================================
PUT /partkeep

[2020-12-06 17:52] rafaelcamacho commented on #1161
Oh, sorry.

https://github.com/partkeepr/PartKeepr/issues/865

There is no option to delete this issue. :(

[2020-12-06 17:52] #1161 closed

[2020-12-06 18:54] rafaelcamacho commented on #865
Any leads on this error? I was tracking some hint in the code and I wasn't able to. :(
Cheers,
Rafael

[2020-12-06 21:22] ericmoon commented on #865
Just to confirm, this is still valid and reproducible (not surprising as the code has not been touched in that area for a while.)

Some of us are going through a process now to update the code base to the current, or near-current, version of framework, dependencies, etc.  You are welcome to join in on that.  As of now, we have a pretty good docker dev environment about to be merged.  Discussions a

[2020-12-10 19:08] xadonxander commented on #905
I tried this fix but I get a different error now.

"Invalid response from server"

Is this fix still valid?

[2020-12-14 00:50] KHufman35 commented on #1159
As the original requester for this item, I no longer am requesting this as a feature improvement.  The end user I assisted has not expressed a need in this feature, after working with the product for a few weeks.

Regards,
Kevin

[2020-12-19 14:00] matthijskooijman commented on #1149
Is this actually fixed by #1150? That one is merged, so maybe this issue could be closed?

[2020-12-21 21:05] Forceu commented on #1132
https://github.com/just-containers/s6-overlay

This would solve the issue of zombie processes and would enable docker to run everything in one container. With that you can choose if a service shall be restarted automatically or if it should stop the whole container.

[2020-12-25 22:08] joshuagti commented on #1065
Unless I am missing something - is there no fix for this?

[2020-12-26 00:01] dromer commented on #1065
The fix is: we need to update all our dependencies which is atm the biggest mountain in the way of future development.

The docker dev image and instructions are just about usable which will hopefully make it a lot easier to do local testing and upgrades on all these old software versions.

[2020-12-26 05:32] dromer commented on #1151
I would recommend against using LDAP to be honest. You will have no ACL whatsoever and any SSO options are not much more than dirty hacks.

It would be much better to get actual multi-user support in future updates of the framework and coupling to an authentication provider with OIDC or SAML.

[2020-12-27 06:15] h0m3us3r opened #1163 "PHP 7.1 Unobtanium"
PHP 7.1 reached end of life over a year ago. More recent versions of PHP must be supported for this project to stay alive.

[2020-12-27 06:19] h0m3us3r commented on #1163
Oh, never mind, it's already dead. Latest release 2.5 years ago.

[2020-12-27 13:37] myval opened #1164 "Setup will not run"
I have tried installing and running PartKeepr in all sorts of ways and they all seem to be failing now.
I have installed and run the PartKeepr in Docker about a week ago and it worked fine of course I made a mess in the database so I decided to reinstall it.
Docker install went through fine, PartKeepr setup started (first window) and when I click next the next button gray out and that is it.
I tho

[2020-12-27 23:05] #1163 closed

[2020-12-29 07:01] h0m3us3r commented on #1121
Please merge #1165 as it solves this.

[2020-12-29 16:27] ericmoon commented on #1164
Docker is working fairly well, using the "unofficial" mhubig (https://hub.docker.com/r/mhubig/partkeepr/).  Is that the image you were using?  Can you provide either the docker command or compose file you used?

Getting it to run from source right now (either a git clone or the release), is a bit of a challenge due to older dependencies.

[2020-12-29 16:39] myval commented on #1164
I just made a discovery that the issue is with Google Chrome actually. Tried it in Internet explorer and it seems to work fine. So my guess is that it is something google done to Chrome in last week or two. Tried reseting chrome (oh what a stupid idea just made a mess big times) and it did not make any difference. So Docker and Mhubig's image seems to be ok.
What Iam trying now is to get the setup

[2020-12-29 16:47] ericmoon commented on #1164
It's not exactly dead.  It's definitely not flourishing, but there are sparks of life.  There is now a functional development docker image  (merged in the last few weeks) that should help move things along.

The major issue is that it is currently in "old dependency hell."  That clean up is a major effort that will take some time and effort.

[2020-12-29 17:01] myval commented on #1164
Ok, well I might stick to it since I have not found anything else which is usefull anyway yet. Partkeepr seems perfect for the job.

[2020-12-29 17:09] myval commented on #1164
You seem to know a bit about this PartKeepr world can you tell me where and how to get Octopart working in Partkeepr?
on mhubig's git it  is
running the following commands:

export PARTKEEPR_OCTOPART_APIKEY=0123456 # optional, get one here https://octopart.com

but I am probably to dumb to work out how and where to run it. Doing docker compose install from mhubig's git.

[2020-12-29 18:03] myval commented on #1164
Definitelly Google does not like the next button in PartKeepr. I have installed it again and run setup in explorer no problem all went well.
now I can login to it from chrome no drama.

[2020-12-29 18:12] ericmoon commented on #1164
Interesting about chrome not liking the next button.  What version/build of chrome are you using and do you have any extensions installed?

As for the Octopart API.  I haven't used octopart recently.  Theoretically,  you should be able to add the API key to the mkparameters file (which is then copied into parameters.php in the container).  But I haven't tried that, so not sure if it is working in

[2020-12-29 18:24] myval commented on #1164
yeah and more interesting is that it worked few weeks ago. I have few extensions installed but I got rid of them all I reset chrome to factory settings and still no go.
Version 87.0.4280.88 (Official Build) (64-bit)
ok I will try to add my api key there but should not expect any mirrracles, got it.
Thanks anyway

[2020-12-29 18:47] christianlupus commented on #1163
Just for reference: See #1083

[2020-12-29 19:02] christianlupus commented on #905
@xadonxander the named "fix" was never a fix. It is plainly hacking into the dependency code which is a clear error.

So to make it clear once more: **Do not change anything under the `/vendor` folder. It is no fix to tweak things there**.

The best fix in the meantime is to use PHP 7.0 or 7.1. Then the error should not appear at all. Apart from that we definitively need to update, see #1083.